// General META
meta(charset='utf-8')
meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width,initial-scale=1')

// Semantic META
meta(name='keywords', content=app.keywords)
meta(name='description', content=app.description)

// Facebook META
//meta(property='fb:app_id', content=facebookAppId)
meta(property='og:site_name', content=app.title)
meta(property='og:title', content=title)
meta(property='og:description', content=app.description)
meta(property='og:url', content=app.url)
meta(property='og:image', content='/app/images/logo.png')
meta(property='og:type', content='website')

// Twitter META
meta(name='twitter:title', content=app.title)
meta(name='twitter:description', content=app.description)
meta(name='twitter:url', content=app.url)
meta(name='twitter:image', content='/app/images/logo.png')

// Favicon and App icon
link(rel='apple-touch-icon', sizes='57x57', href='/app/images/icon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='114x114', href='/app/images/icon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='72x72', href='/app/images/icon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='144x144', href='/app/images/icon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='60x60', href='/app/images/icon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='120x120', href='/app/images/icon/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='76x76', href='/app/images/icon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='152x152', href='/app/images/icon/apple-touch-icon-152x152.png')
//- link(rel='apple-touch-icon', sizes='180x180', href='/app/images/icon/apple-touch-icon-180x180.png')
link(rel='icon', type='image/png', sizes='196x196', href='/app/images/icon/favicon-192x192.png')
link(rel='icon', type='image/png', sizes='128x128', href='/app/images/icon/favicon-128x128.png')
link(rel='icon', type='image/png', sizes='96x96', href='/app/images/icon/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='32x32', href='/app/images/icon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/app/images/icon/favicon-16x16.png')
link(rel='manifest', href='/app/images/icon/manifest.json')
meta(name='msapplication-TileColor', content='#303f9f')
meta(name='msapplication-TileImage', content='/app/images/icon/mstile-150x150.png')
meta(name='theme-color', content='#303f9f')

// styles
link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Material+Icons", type="text/css", rel="stylesheet")
