<template>
  <div class="edit-advertisement py-5">
    <v-container>
      <v-alert error value="true" v-if="notFound" class="mb-5">
	      Not found
	    </v-alert>
			<div class="text-xs-center my-5 py-5" v-else-if="loading">
				<v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
			</div>
      <template v-else>
        <h3 class="headline mb-5"><v-icon class="display-1 mr-2 indigo--text">add_circle_outline</v-icon>UPDATE YOUR ADVERTISEMENT</h3>
        <form @submit.prevent="postAd" novalidate>
          <v-expansion-panel expand>
            <v-expansion-panel-content ripple>
              <div slot="header">Advertisement information
                <v-icon
                  v-if="advertisement_information_error"
                  class="red--text"
                >error</v-icon>
              </div>
              <v-card class="py-4">
                <v-layout>
                  <v-flex xs12 md5 offset-md1>
                    <v-card-text>
                      <v-select
                        v-bind:items="ad_types"
                        v-model="advertisement.adType"
                        item-text="text"
                        item-value="val"
                        label="I want to..."
                        bottom
                        disabled
                      ></v-select>
                      <v-text-field
                        label="Price"
                        type="number"
                        v-model.number="advertisement.price"
                        prefix="NGN"
                        :rules="[rules.non_zero]"
                        step="any"
                        hint="Price of 1 bitUSD in NGN"
                        persistent-hint
                        required
                      ></v-text-field>
                      <template v-if="advertisement.adType === 'sell'">
                        <div class="pt-2">
                          <v-text-field
                            label="Price that you recieve"
                            :value="price_that_you_receive"
                            suffix="NGN/BTC"
                            readonly
                            disabled
                            :hint="'This is the BTC price at current BitPay (Bitcore) rate (' + usdRate + '). The price will fluctuate when BitPay (Bitcore) rate changes.'"
                            persistent-hint
                          ></v-text-field>
                        </div>
                        <div class="pt-2">
                          <v-text-field
                            label="Price that buyers see"
                            :value="price_that_buyers_see"
                            suffix="NGN/BTC"
                            readonly
                            disabled
                            hint="The price has been accounted with trading fee (buyer pays the fee)."
                            persistent-hint
                          ></v-text-field>
                        </div>
                      </template>
                      <template v-else>
                        <div class="pt-2">
                          <v-text-field
                            label="Price that you pay"
                            :value="price_that_you_pay"
                            suffix="NGN/BTC"
                            readonly
                            disabled
                            :hint="'This is the BTC price at current BitPay (Bitcore) rate (' + usdRate + '). The price will fluctuate when BitPay (Bitcore) rate changes.'"
                            persistent-hint
                          ></v-text-field>
                        </div>
                        <div class="pt-2">
                          <v-text-field
                            label="Price that sellers see"
                            :value="price_that_sellers_see"
                            suffix="NGN/BTC"
                            readonly
                            disabled
                            hint="The price has been accounted with trading fee (seller pays the fee)."
                            persistent-hint
                          ></v-text-field>
                        </div>
                      </template>
                      <div class="pt-2">
                        <v-text-field
                          label="Minimum amount"
                          type="number"
                          v-model.number="advertisement.minimumAmount"
                          :rules="[rules.minimumAmount]"
                          max="1"
                          min="0.01"
                          suffix="BTC"
                          step="any"
                          hint="Minimum transaction limit in one trade. (at least 0.01 BTC)"
                          persistent-hint
                          required
                        ></v-text-field>
                      </div>
                      <div class="pt-2">
                        <v-text-field
                          label="Maximum amount"
                          type="number"
                          v-model.number="advertisement.originalMaximumAmount"
                          :rules="[rules.maximumAmount]"
                          max="100"
                          min="0.01"
                          suffix="BTC"
                          step="any"
                          hint="Maximum transaction limit in one trade. For online sells, your BTC wallet balance may limit the maximum fundable trade also. (maximum 100 BTC)"
                          persistent-hint
                          required
                        ></v-text-field>
                      </div>
                      <div class="pt-2">
                        <v-select
                          :items="payment_window_options"
                          v-model="advertisement.paymentWindow"
                          item-text="text"
                          item-value="val"
                          label="Payment window"
                          hint="If buyer does not pay within the payment time, the trade will be cancelled automatically"
                          persistent-hint
                          bottom
                        ></v-select>
                      </div>
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-expansion-panel-content>
            <v-expansion-panel-content ripple>
              <div slot="header">Payment options
                <v-icon
                  v-if="payment_options_error"
                  class="red--text"
                >error</v-icon>
              </div>
              <v-card class="py-4">
                <v-layout>
                  <v-flex xs12 md5 offset-md1>
                    <v-card-text>
                      <v-select
                        :items="banks"
                        item-text="text"
                        item-value="val"
                        v-model="advertisement.bankName"
                        label="Bank name"
                        required
                      ></v-select>
                      <template v-if="advertisement.adType === 'sell'">
                        <v-text-field
                          label="Bank account number"
                          v-model.trim="advertisement.bankAccountNumber"
                          required
                        ></v-text-field>
                        <v-text-field
                          label="Bank account name"
                          v-model="advertisement.bankAccountName"
                          required
                        ></v-text-field>
                      </template>
                      <template v-else>
                        <v-text-field
                          label="Receiving bitcoin address"
                          v-model="advertisement.receiveBitcoinAddress"
                          :rules="[rules.validAddress]"
                          required
                          class="mb-0"
                        ></v-text-field>
                        <v-btn small outline @click.native="useWalletAddress">Use my wallet address</v-btn>
                      </template>
                    </v-card-text>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>

          <v-layout class="mt-5">
            <v-flex xs12 sm6 offset-sm3 md4 offset-md4>
              <v-btn
                class="grey darken-4 white--text"
                large
                block
                :loading="busy"
                :disabled="busy"
                type="submit"
              >update advertisement</v-btn>
            </v-flex>
          </v-layout>
        </form>
      </template>
    </v-container>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { TRADEREMITCHARGE } from "../../core/config";
import WAValidator from 'wallet-address-validator';

import Service from "../../core/service";

let service = new Service("advertisements");

export default {
  
  metaInfo: {
    title: 'Update your advertisement'
  },

  props: ["slug"],

  data () {
    return {
      advertisement: null,
      loading: true,
      notFound: false,
      price_that_you_receive: 0,
      price_that_you_pay: 0,
      price_that_buyers_see: 0,
      price_that_sellers_see: 0,
      ad_types: [
        {
          text: 'Buy bitcoins',
          val: 'buy'
        },
        {
          text: 'Sell my bitcoins',
          val: 'sell'
        }
      ],
      payment_window_options: [
        { text: '15 minutes', val: 15 },
        { text: '30 minutes', val: 30 }
      ],
      banks: [
        { text: 'Access Bank', val: 'access_bank' },
        { text: 'Diamond Bank', val: 'diamond_bank' },
        { text: 'Ecobank', val: 'ecobank' },
        { text: 'Fidelity Bank', val: 'fidelity_bank' },
        { text: 'First Bank', val: 'first_bank' },
        { text: 'First City Monument Bank', val: 'first_city_monument_bank' },
        { text: 'Guarantee Trust Bank', val: 'guarantee_trust_bank' },
        { text: 'Heritage Bank', val: 'heritage_bank' },
        { text: 'Keystone Bank', val: 'keystone_bank' },
        { text: 'Stanbic IBTC', val: 'stanbic_ibtc' },
        { text: 'Standard Chartered Bank', val: 'standard_chartered_bank' },
        { text: 'Sterling Bank', val: 'sterling_bank' },
        { text: 'Skye Bank', val: 'skye_bank' },
        { text: 'United Bank of Africa', val: 'united_bank_of_africa' },
        { text: 'Union Bank', val: 'union_bank' },
        { text: 'Unity Bank', val: 'unity_bank' },
        { text: 'Wema Bank', val: 'wema_bank' },
        { text: 'Zenith Bank', val: 'zenith_bank' }
      ],
      rules: {
        minimumAmount: (value) => {
          return value >= 0.01 ?
            (value > 1 ? 'Minimum transaction limit cannot be over 1 BTC' : true) :
            'Minimum transaction limit in one trade is 0.01 BTC'
        },
        maximumAmount: (value) => {
          return value <= 100 ?
            (value < this.advertisement.minimumAmount ?
              'Maximum transaction limit cannot be lower than the minimum transaction limit' :
              true
            ) :
            'Maximum transaction limit in one trade is 100 BTC'
        },
        non_zero: (value) => {
          return value > 0 || 'Price cannot be 0 NGN'
        },
        validAddress: (value) => {
          if (value === '') return true
          return WAValidator.validate(value, 'BTC', 'both') || 'Please enter a valid Bitcoin address'
        }
      },
      advertisement_information_error: false,
      payment_options_error: false,
      busy: false
    }
  },

  computed: {
    ...mapGetters("globalState", [
      "usdRate"
    ]),

    ...mapGetters("session", [
      "me"
    ]),

  },

  created() {
    service.rest(`find?slug=${this.slug}`)
      .then(data => {
        this.loading = false
        this.advertisement = data
        this.advertisement.minimumAmount = this.$options.filters.satoshi2btc(this.advertisement.minimumAmount)
        this.advertisement.originalMaximumAmount = this.$options.filters.satoshi2btc(this.advertisement.originalMaximumAmount)
        this.setTradePrices()
      }).catch(err => {
        this.notFound = true;
        console.log("Response err ", err);
      });
  },

  methods: {
    ...mapActions("advertisements", [
      "updateAdvertisement"
    ]),

    postAd() {
      if (!this.validateForm()) return
      this.busy = true;
      this.updateAdvertisement(this.advertisement);
    },

    validateForm() {
      let flag = true
      if (
        // usd rate must not be = 0
        this.usdRate === 0 ||
        // price must != 0
        this.advertisement.price === 0 ||
        // minimum amount != 0
        this.advertisement.minimumAmount === 0 ||
        // minimum amount >= 0.01
        this.advertisement.minimumAmount < 0.01 ||
        // maximum amount != 0
        this.advertisement.originalMaximumAmount === 0 ||
        // maximum amount <= 100
        this.advertisement.originalMaximumAmount > 100 ||
        // maximum amount >= minimum amount
        (this.advertisement.originalMaximumAmount < this.advertisement.minimumAmount)
      ) {
        this.advertisement_information_error = true
        flag = false
      } else {
        this.advertisement_information_error = false
      }
      // bank name must be selected
      if (this.advertisement.bankName === '') {
        flag = false
        this.payment_options_error = true
      } else {
        this.payment_options_error = false
      }
      // if ad type is 'sell' bank account name and number
      // must not be blank
      if (this.advertisement.adType === 'sell') {
        if (
          this.advertisement.bankAccountName === '' ||
          this.advertisement.bankAccountNumber === ''
        ) {
          this.payment_options_error = true
          flag = false
        } else {
          this.payment_options_error = false
        }
      } else {
        // receiving bitcoin address must be valid
        if (!WAValidator.validate(this.advertisement.receiveBitcoinAddress, 'BTC', 'both')) {
          this.payment_options_error = true
          flag = false
        }
      }
      return flag
    },

    useWalletAddress () {
      this.advertisement.receiveBitcoinAddress = this.me.walletAddress
    },

    setTradePrices () {
      let base_pay = parseInt(this.advertisement.price * this.usdRate)
      this.price_that_you_pay = this.$options.filters.currency(base_pay, '', 0)
      this.price_that_sellers_see = this.$options.filters.currency(parseInt((this.advertisement.price - TRADEREMITCHARGE) * this.usdRate), '', 0)
      this.price_that_you_receive = this.$options.filters.currency(base_pay, '', 0)
      this.price_that_buyers_see = this.$options.filters.currency(parseInt((this.advertisement.price + TRADEREMITCHARGE) * this.usdRate), '', 0)
    }
  },

  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.me) vm.$router.push({ path: "/" })
    })
  },
}
</script>

<style scoped lang="scss">
.edit-advertisement {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>
