<template>
  <div class="post-advertisement py-5">
    <v-container>
      <h3 class="headline mb-5"><v-icon class="display-1 mr-2 indigo--text">add_circle_outline</v-icon>POST AN ADVERTISEMENT</h3>
      <v-alert info value="true" v-if="!me" class="mb-5">
        Please log in or sign up before posting an advertisement.
      </v-alert>
      <form @submit.prevent="postAd" novalidate>
        <v-expansion-panel expand>
          <v-expansion-panel-content ripple>
            <div slot="header">Advertisement information
              <v-icon
                v-if="advertisement_information_error" 
                class="red--text"
              >error</v-icon>
            </div>
            <v-alert
              error
              v-model="cantPostBuyAdAlert"
              transition="scale-transition"
              dismissible
              class="ma-0"
            >
              You must complete at least 3 trades before you can post a buy advertisement.
            </v-alert>
            <v-card class="py-4">
              <v-layout>
                <v-flex xs12 md5 offset-md1>
                  <v-card-text>

                    <v-select
                      v-bind:items="ad_types"
                      v-model="form.adType"
                      item-text="text"
                      item-value="val"
                      label="I want to..."
                      bottom
                    ></v-select>

                    <v-text-field
                      label="Price"
                      type="number"
                      v-model.number="form.price"
                      prefix="NGN"
                      :rules="[rules.non_zero]"
                      step="any"
                      hint="Price of 1 bitUSD in NGN"
                      persistent-hint
                      required
                    ></v-text-field>
                    <template v-if="form.adType === 'sell'">
                      <div class="pt-2">
                        <v-text-field
                          label="Price that you recieve"
                          :value="price_that_you_receive"
                          suffix="NGN/BTC"
                          readonly
                          disabled
                          :hint="'This is the BTC price at current BitPay (Bitcore) rate (' + usdRate + '). The price will fluctuate when BitPay (Bitcore) rate changes.'"
                          persistent-hint
                        ></v-text-field>
                      </div>
                      <div class="pt-2">
                        <v-text-field
                          label="Price that buyers see"
                          :value="price_that_buyers_see"
                          suffix="NGN/BTC"
                          readonly
                          disabled
                          hint="The price has been accounted with trading fee (buyer pays the fee)."
                          persistent-hint
                        ></v-text-field>
                      </div>
                    </template>
                    <template v-else>
                      <div class="pt-2">
                        <v-text-field
                          label="Price that you pay"
                          :value="price_that_you_pay"
                          suffix="NGN/BTC"
                          readonly
                          disabled
                          :hint="'This is the BTC price at current BitPay (Bitcore) rate (' + usdRate + '). The price will fluctuate when BitPay (Bitcore) rate changes.'"
                          persistent-hint
                        ></v-text-field>
                      </div>
                      <div class="pt-2">
                        <v-text-field
                          label="Price that sellers see"
                          :value="price_that_sellers_see"
                          suffix="NGN/BTC"
                          readonly
                          disabled
                          hint="The price has been accounted with trading fee (seller pays the fee)."
                          persistent-hint
                        ></v-text-field>
                      </div>
                    </template>
                    <div class="pt-2">
                      <v-text-field
                        label="Minimum amount"
                        type="number"
                        v-model.number="form.minimumAmount"
                        :rules="[rules.minimumAmount]"
                        max="1"
                        min="0.01"
                        suffix="BTC"
                        step="any"
                        hint="Minimum transaction limit in one trade. (at least 0.01 BTC)"
                        persistent-hint
                        required
                      ></v-text-field>
                    </div>
                    <div class="pt-2">
                      <v-text-field
                        label="Maximum amount"
                        type="number"
                        v-model.number="form.maximumAmount"
                        :rules="[rules.maximumAmount]"
                        max="100"
                        min="0.01"
                        suffix="BTC"
                        step="any"
                        hint="Maximum transaction limit in one trade. For online sells, your BTC wallet balance may limit the maximum fundable trade also. (maximum 100 BTC)"
                        persistent-hint
                        required
                      ></v-text-field>
                    </div>
                    <div class="pt-2">
                      <v-select
                        :items="payment_window_options"
                        v-model="form.paymentWindow"
                        item-text="text"
                        item-value="val"
                        label="Payment window"
                        hint="If buyer does not pay within the payment time, the trade will be cancelled automatically"
                        persistent-hint
                        bottom
                      ></v-select>
                    </div>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
          </v-expansion-panel-content>
          <v-expansion-panel-content ripple>
            <div slot="header">Payment options 
              <v-icon
                v-if="payment_options_error" 
                class="red--text"
              >error</v-icon>
            </div>
            <v-card class="py-4">
              <v-layout>
                <v-flex xs12 md5 offset-md1>
                  <v-card-text>
                    <v-select
                      :items="banks"
                      item-text="text"
                      item-value="val"
                      v-model="form.bankName"
                      label="Bank name"
                      required
                    ></v-select>
                    <template v-if="form.adType === 'sell'">
                      <v-text-field
                        label="Bank account number"
                        v-model.trim="form.bankAccountNumber"
                        required
                      ></v-text-field>
                      <v-text-field
                        label="Bank account name"
                        v-model="form.bankAccountName"
                        required
                      ></v-text-field>
                    </template>
                    <template v-else>
                      <v-text-field
                        label="Receiving bitcoin address"
                        v-model="form.receiveBitcoinAddress"
                        :rules="[rules.validAddress]"
                        required
                        class="mb-0"
                      ></v-text-field>
                      <v-btn :disabled="!me" small outline @click.native="useWalletAddress">Use my wallet address</v-btn>
                    </template>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-layout class="mt-5">
          <v-flex xs12 sm6 offset-sm3 md4 offset-md4>
            <v-btn
              class="grey darken-4 white--text"
              large
              block
              :loading="form.busy"
              :disabled="form.busy || !me"
              type="submit"
            >post advertisement</v-btn>
          </v-flex>
        </v-layout>
      </form>
    </v-container>
  </div>
</template>

<script>
import Form from 'vform'
import { mapActions, mapGetters } from "vuex";
import { TRADEREMITCHARGE } from "../../core/config";
import WAValidator from 'wallet-address-validator';

export default {
  name: 'post-advert',

  metaInfo: {
    title: 'Post an advertisement'
  },

  data () {
    return {
      form: new Form({
        price: 0,
        minimumAmount: 0.01,
        maximumAmount: 2,
        bankName: '',
        bankAccountNumber: '',
        bankAccountName: '',
        receiveBitcoinAddress: '',
        paymentWindow: 15,
        adType: 'sell'
      }),
      price_that_you_receive: 0,
      price_that_you_pay: 0,
      price_that_buyers_see: 0,
      price_that_sellers_see: 0,
      ad_types: [
        {
          text: 'Buy Bitcoin',
          val: 'buy'
        },
        {
          text: 'Sell my Bitcoin',
          val: 'sell'
        }
      ],
      payment_window_options: [
        { text: '15 minutes', val: 15 },
        { text: '30 minutes', val: 30 }
      ],
      banks: [
        { text: 'Access Bank', val: 'access_bank' },
        { text: 'Diamond Bank', val: 'diamond_bank' },
        { text: 'Ecobank', val: 'ecobank' },
        { text: 'Fidelity Bank', val: 'fidelity_bank' },
        { text: 'First Bank', val: 'first_bank' },
        { text: 'First City Monument Bank', val: 'first_city_monument_bank' },
        { text: 'Guarantee Trust Bank', val: 'guarantee_trust_bank' },
        { text: 'Heritage Bank', val: 'heritage_bank' },
        { text: 'Keystone Bank', val: 'keystone_bank' },
        { text: 'Stanbic IBTC', val: 'stanbic_ibtc' },
        { text: 'Standard Chartered Bank', val: 'standard_chartered_bank' },
        { text: 'Sterling Bank', val: 'sterling_bank' },
        { text: 'Skye Bank', val: 'skye_bank' },
        { text: 'United Bank of Africa', val: 'united_bank_of_africa' },
        { text: 'Union Bank', val: 'union_bank' },
        { text: 'Unity Bank', val: 'unity_bank' },
        { text: 'Wema Bank', val: 'wema_bank' },
        { text: 'Zenith Bank', val: 'zenith_bank' }
      ],
      rules: {
        minimumAmount: (value) => {
          return value >= 0.01 ? 
            (value > 1 ? 'Minimum transaction limit cannot be over 1 BTC' : true) :
            'Minimum transaction limit in one trade is 0.01 BTC'
        },
        maximumAmount: (value) => {
          return value <= 100 ? 
            (value < this.form.minimumAmount ? 
              'Maximum transaction limit cannot be lower than the minimum transaction limit' :
              true
            ) : 
            'Maximum transaction limit in one trade is 100 BTC'
        },
        non_zero: (value) => {
          return value > 0 || 'Price cannot be 0 NGN'
        },
        validAddress: (value) => {
          if (value === '') return true
          return WAValidator.validate(value, 'BTC', 'both') || 'Please enter a valid Bitcoin address'
        }
      },
      advertisement_information_error: false,
      payment_options_error: false,
      cantPostBuyAdAlert: false,
    }
  },

  computed: {
    ...mapGetters("globalState", [
      "usdRate"
    ]),

    ...mapGetters("session", [
      "me"
    ]),

  },

  methods: {
    ...mapActions("advertisements", [
      "saveAdvertisement",
    ]),

    postAd () {
      if (!this.me) return // blocked not logged in users
      if (!this.validateForm()) return
      this.saveAdvertisement(this.form);
    },

    validateForm () {
      let flag = true
      if (
        // usd rate must not be = 0
        this.usdRate === 0 ||
        // price must != 0
        this.form.price === 0 ||
        // minimum amount != 0
        this.form.minimumAmount === 0 ||
        // minimum amount >= 0.01
        this.form.minimumAmount < 0.01 ||
        // maximum amount != 0
        this.form.maximumAmount === 0 ||
        // maximum amount <= 100
        this.form.maximumAmount > 100 ||
        // maximum amount >= minimum amount
        (this.form.maximumAmount < this.form.minimumAmount)
      ) {
        this.advertisement_information_error = true
        flag = false
      } else {
        this.advertisement_information_error = false
      }
      // bank name must be selected
      if (this.form.bankName === '') {
        flag = false
        this.payment_options_error = true
      } else {
        this.payment_options_error = false
      }
      // if ad type is 'sell' bank account name and number
      // must not be blank
      if (this.form.adType === 'sell') {
        if (
          this.form.bankAccountName === '' || 
          this.form.bankAccountNumber === ''
        ) {
          this.payment_options_error = true
          flag = false
        } else {
          this.payment_options_error = false
        }
      } else {
        // receiving bitcoin address must be valid
        if (!WAValidator.validate(this.form.receiveBitcoinAddress, 'BTC', 'both')) {
          this.payment_options_error = true
          flag = false
        }
      }
      return flag
    },

    useWalletAddress () {
      this.form.receiveBitcoinAddress = this.me.walletAddress
    },

  },

  mounted() {
    this.form.price = parseInt(this.usdRate / 10)
  },

  watch: {
    'form.price': function () {
      let base_pay = parseInt(this.form.price * this.usdRate)
      this.price_that_you_pay = this.$options.filters.currency(base_pay, '', 0)
      this.price_that_sellers_see = this.$options.filters.currency(parseInt((this.form.price - TRADEREMITCHARGE) * this.usdRate), '', 0)
      this.price_that_you_receive = this.$options.filters.currency(base_pay, '', 0)
      this.price_that_buyers_see = this.$options.filters.currency(parseInt((this.form.price + TRADEREMITCHARGE) * this.usdRate), '', 0)
    },
    
    'form.adType': function () {
      if (this.form.adType === "sell") return;

      if (this.me.totalSuccessfulTrades < 3) {
        this.cantPostBuyAdAlert = true;
        this.$nextTick(() => {
          this.form.adType = "sell";
        });
      }
    },
  }
}
</script>

<style scoped lang="scss">
.post-advertisement {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>
