<template>
  <section class="start-trade py-5">
    <v-container grid-list-md>
      <v-alert error value="true" v-if="me && !me.phoneVerified" class="py-5">
        <span class="title">You need to verify your phone number before you can start trading Bitcoin.<br>Please add your phone number to continue!</span>
      </v-alert>
      <v-alert error value="true" v-else-if="notFound" class="mb-5">
	      Not found
	    </v-alert>
			<div class="text-xs-center my-5 py-5" v-else-if="loading">
				<v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
			</div>
      <div v-else>
        <h3 class="headline mb-5"><v-icon class="display-1 mr-2 indigo--text">volume_up</v-icon>{{ ad.title | uppercase }}</h3>
        <div class="mb-3"></div>
        <v-layout row wrap>
          <v-flex xs12 md6>
            <v-alert warning :value="!ad.visible">
              Sorry, seller does not have enough Bitcoin for this advertisement.
            </v-alert>
            <template v-if="ad.visible">
              <v-alert warning value="true" class="brown--text" v-if="(ad.adType === 'buy') && (me.computedBalance <= 0)">
                Sorry, you need to have Bitcoin in your wallet before you can sell to this buyer.
                <br>
                <v-btn outline small to="/wallet/receive-bitcoin">deposit bitcoin</v-btn>
              </v-alert>
              <v-card class="elevation-10 mb-2 indigo white--text" v-else>
                <v-card-text>
                  <p class="title ma-0">Start a trade</p>
                </v-card-text>
                <div class="px-4 py-3">
                  <form @submit.prevent="postTrade">
                    <v-text-field
                      label="Amount of BTC"
                      type="number"
                      step="any"
                      suffix="BTC"
                      class="mb-5"
                      v-model.number="form.coinAmount"
                      :hint="hint"
                      persistent-hint
                      :rules="[rules.minimumBtcAmount, rules.maximumBtcAmount, rules.maximumSellableBtc]"
                      required
                      dark
                    ></v-text-field>
                    <v-text-field
                      label="Amount of NGN"
                      :value="amountOfNGN"
                      suffix="NGN"
                      disabled
                      dark
                    ></v-text-field>
                    <template v-if="ad.adType === 'buy'">
                      <v-text-field
                        label="Bank name"
                        :value="this.$options.filters.snake2Lower(this.ad.bankName)"
                        disabled
                        dark
                      ></v-text-field>
                      <v-text-field
                        label="Bank account name"
                        v-model.trim="form.sellerBankAccountName"
                        required
                        dark
                      ></v-text-field>
                      <v-text-field
                        label="Bank account number"
                        v-model.trim="form.sellerBankAccountNumber"
                        required
                        dark
                      ></v-text-field>
                    </template>
                    <template v-else>
                        <v-text-field
                          label="Your Bitcoin address"
                          v-model.trim="form.buyerAddress"
                          :rules="[rules.validAddress]"
                          required
                          dark
                          class="mb-0"
                        ></v-text-field>
                      <v-btn :disabled="!me" dark small outline block @click.native="useWalletAddress">Use my wallet address</v-btn>
                      <div class="py-3"></div>
                    </template>
                    <v-btn
                      large
                      block
                      class="indigo darken-4"
                      type="submit"
                      :loading="form.busy"
                      :disabled="form.busy"
                      dark
                    >{{ ad.adType === "buy" ? "sell": "buy" }} bitcoin</v-btn>
                  </form>
                </div>
              </v-card>
            </template>
          </v-flex>
          <v-flex xs12 md6>
            <v-card class="mb-2 elevation-2">
              <v-card-text>
                <p class="title grey--text ma-0">Advertisement details</p>
              </v-card-text>
              <v-list>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>
                      <template v-if="ad.adType === 'buy'">Selling to:</template>
                      <template v-else>Buying from:</template>
                      <router-link :to="`/profile/${ad.username}`"><strong>{{ ad.username }}</strong></router-link>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>Price:
                      <price-display-toggle :price="ad.price" :with-fee="ad.adType === 'sell'"></price-display-toggle>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>Amount limits:
                      <strong class="green--text">{{ ad.minimumAmount | satoshi2btc }} BTC</strong>  &mdash; <strong class="green--text">{{ ad.maximumAmount | satoshi2btc }} BTC</strong>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>Payment method:</v-list-tile-title>
                    <v-list-tile-title>
                      <strong>Bank transfer with <span class="capitalize">{{ ad.bankName | snake2Lower }}</span></strong>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>Payment window:
                      <strong>{{ ad.paymentWindow }} minutes</strong>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>

            <v-expansion-panel>
              <v-expansion-panel-content v-for="faq in faqs" :key="faq.title" ripple>
                <div slot="header">{{ faq.title }}</div>
                <v-card>
                  <v-card-text class="grey--text px-3 py-5">{{ faq.answer }}</v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </div>
    </v-container>
  </section>
</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";
import PriceDisplayToggle from "../../core/components/priceDisplayToggle";
import { TRADEREMITCHARGE } from "../../core/config";
import WAValidator from 'wallet-address-validator';
import Form from 'vform';

import Service from "../../core/service";

let service = new Service("advertisements");

export default {
  components: {
    PriceDisplayToggle
  },

  props: ["slug"],

  data() {
    return {
      loading: true,
      notFound: false,
      form: new Form({
        coinAmount: null,
        buyerAddress: '',
        buyerUsername: null,
        sellerUsername: null,
        sellerPrice: null,
        bitUSDRate: null,
        expiresAt: null,
        sellerBankName: null,
        sellerBankAccountName: "",
        sellerBankAccountNumber: "",
      }),
      ad: {},
      amount: null,
      faqs: [
        {
          title: 'Is it safe to buy bitcoin?',
          answer: `
            Seller's Bitcoin is hold in an escrow when you open the trade, so you can send payment to seller without worry. If the seller refused to release Bitcoin after you sent the payment, click on the 'Dispute' button and our support team with show up to help.
          `
        },
        {
          title: 'When will I receive Bitcoin?',
          answer: `
            You will receive Bitcoin immediately after seller has confirmed your payment.
          `
        }
      ],
      rules: {
        validAddress: (value) => {
          if (value === '') return true
          return WAValidator.validate(value, 'BTC', 'both') || 'Please enter a valid Bitcoin address'
        },
        minimumBtcAmount: (value) => {
          let minAmount = this.$options.filters.satoshi2btc(this.ad.minimumAmount);
          return value >= minAmount || `Minimum BTC amount for this advertisement is ${minAmount} BTC`;
        },
        maximumBtcAmount: (value) => {
          let maxAmount = this.$options.filters.satoshi2btc(this.ad.maximumAmount);
          return value <= maxAmount || `Maximum BTC amount for this advertisement is ${maxAmount} BTC`;
        },
        maximumSellableBtc: (value) => {
          if (this.ad.adType === "sell") return true; // this rule doesn't apply for sell ads
          let maxSellable = this.$options.filters.satoshi2btc(this.me.computedBalance);
          return value <= maxSellable || `You cannot sell more than your BTC wallet balance (${maxSellable} BTC)`;
        }
      }
    }
  },

  mounted() {
    try {
      this.form.sellerBankAccountName = localStorage.getItem(`${this.me.username}-tr-bankAccountName`);
      this.form.sellerBankAccountNumber = localStorage.getItem(`${this.me.username}-tr-bankAccountNumber`);
    } catch (e) {
      console.log("Error reading stored bank details from local storage");
    }
  },

  computed: {
    ...mapGetters("session", [
      "me",
    ]),

    ...mapGetters("globalState", [
      "usdRate"
    ]),

    hint () {
      if (this.form.coinAmount > 0) {
        let hint = this.usdRate * parseFloat(this.form.coinAmount);
        return `≈ ${this.$options.filters.currency(hint, "$", 2)}`
      } else return ""
    },

    amountOfNGN () {
      let amount;
      if (this.ad.adType === "sell")
        amount = this.form.coinAmount * this.usdRate * (this.ad.price + TRADEREMITCHARGE);
      else
        amount = this.form.coinAmount * this.usdRate * (this.ad.price - TRADEREMITCHARGE);
      return this.$options.filters.currency(amount, "", 2);
    }
  },

  created () {

    service.rest(`find?slug=${this.slug}`)
      .then(data => {
        this.loading = false
        this.ad = data;
        this.form.coinAmount = this.$options.filters.satoshi2btc(this.ad.minimumAmount);
        if (!this.me) return; // user is not logged in
        if (this.me.username === this.ad.username) {
          this.$router.push(`/dashboard/your-advertisements/${this.ad.slug}`);
        }
      }).catch(err => {
        this.notFound = true;
        console.log("Response err ", err);
      });

  },

  methods: {
    ...mapActions("advertisements", [
      "setFocusedAd"
    ]),

    ...mapActions("trades", [
      "createTrade"
    ]),

    useWalletAddress () {
      this.form.buyerAddress = this.me.walletAddress
    },

    postTrade() {
      // if not logged in user
      // navigate to login page
      if (!this.me)
        window.location.pathname = "/login";

      // if this is a "buy" ad, then this.me is the seller
      let isBuyAd = this.ad.adType === "buy";
      let buyer, seller;
      if (isBuyAd) {
        seller = this.me;
        buyer = this.ad;
      } else {
        seller = this.ad;
        buyer = this.me
      }

      this.form.adType = this.ad.adType;
      this.form.buyerUsername = buyer.username;
      this.form.sellerUsername = seller.username;
      this.form.sellerPrice = this.ad.price;
      this.form.bitUSDRate = this.usdRate;
      this.form.expiresAt = this.ad.paymentWindow;
      this.form.sellerBankName =  this.ad.bankName;
      if (isBuyAd) {
        this.form.buyerAddress = this.ad.receiveBitcoinAddress
      } else {
        this.form.sellerBankAccountName =  this.ad.bankAccountName;
        this.form.sellerBankAccountNumber =  this.ad.bankAccountNumber;
      }

      if (!this.validateForm()) return;
      this.createTrade(this.form);

      // store seller bank details in local storage to avoid repetition
      if (isBuyAd) {
        localStorage.setItem(`${this.me.username}-tr-bankAccountName`, this.form.sellerBankAccountName);
        localStorage.setItem(`${this.me.username}-tr-bankAccountNumber`, this.form.sellerBankAccountNumber);
      }
    },

    validateForm () {
      // coinAmount must be >= ad.minimumAmount and <= ad.maximumAmount
      if (this.form.coinAmount < this.$options.filters.satoshi2btc(this.ad.minimumAmount)) return false;
      if (this.form.coinAmount > this.$options.filters.satoshi2btc(this.ad.maximumAmount)) return false;

      let isBuyAd = this.ad.adType === "buy";
      if (isBuyAd) {
        // seller bank account name must not be empty
        if (this.form.sellerBankAccountName.length === 0) return false;
        // seller bank account number must not be empty
        if (this.form.sellerBankAccountNumber.length === 0) return false;
        // seller must sell btc that she owns
        if (this.form.coinAmount > this.$options.filters.satoshi2btc(this.me.computedBalance)) return false;
      } else {
        // buyerCoinAddress must be valid
        if (!WAValidator.validate(this.form.buyerAddress, 'BTC', 'both')) return false;
      }

      return true;
    }
  }
}
</script>

<style scoped lang="scss">
.start-trade {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>
