.chip {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding: 0 15px;
  margin: 0;
  cursor: inherit;
  display: inline;
  .avatar {
    height: inherit;
    width: 25px;
    min-width: 25px;
    margin-right: 0;
    font-style: normal;
    i {
      height: auto;
      width: auto;
      font-size: inherit !important;
      opacity: 1;
    }
  }
  .icon {
    opacity: 1;
  }
}