footer {
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
    li {
      margin-bottom: .5rem;
      a {
        text-decoration: none;
        font-weight: lighter;
      }
    }
  }
}