@mixin breakpoint($class) {
  @if $class==xs {
      @media only screen and (max-width: 413px) {
          @content;
      }
  }
  @else if $class==sm {
      @media only screen and (max-width: 735px) {
          @content;
      }
  }
  @else if $class==md {
      @media only screen and (max-width: 1024px) {
          @content;
      }
  }
  @else if $class==lg {
      @media only screen and (min-width: 1025px) {
          @content;
      }
  }
  @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}