.tabs .tabs__item {
  color: rgba(0,0,0,.5) !important;
  font-weight: normal;
  font-size: 11px !important;
}
.tabs .tabs__item.tabs__item--active {
  color: rgba(0,0,0,.7) !important;
  font-weight: bold;
}
.tabs__items {
  border: none;
}
.tabs__slider {
  height: 3px;
}