.toolbar {
  margin-top: 3.25rem !important;
  .toolbar__title a {
    color: inherit;
    text-decoration: inherit;
  }
  @include breakpoint (md) {
    position: fixed;
    z-index: 1;
    margin-top: 0 !important;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px rgba(0,0,0,.14), 0 1px 10px rgba(0,0,0,.12) !important;
  }
}