doctype html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd"
head
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  style(type="text/css"): include mail.css
  body(style='padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;', marginheight='0', marginwidth='0')
    center
      table(cellpadding='8', cellspacing='0', style='*width: 540px; padding: 15px; width: 100% !important; background: #efefef; margin: 0; background-color: #efefef;', border='0')
        tr
          td(valign='top')
            table(cellpadding='0', cellspacing='0', style='border: 1px #3f51b5 solid; background: #ffffff; background-color: #ffffff', border='0', align='center')
              tr
                td(colspan='3', height='6')
              tr
                td
                  table(cellpadding='0', cellspacing='0', style='line-height: 25px;', border='0', align='center')
                    tr
                      td(colspan='3', height='30')
                    tr
                      td(width='36')
                      td(width='454', align='left', style='color: #444444; border-collapse: collapse; font-size: 11pt; font-family: \'Open Sans\', \'Lucida Grande\', \'Segoe UI\', Arial, Verdana, \'Lucida Sans Unicode\', Tahoma, \'Sans Serif\'; max-width: 454px;', valign='top')
                        //- -----------------------------------------------------------------------------------
                        //- Only Edit Here
                        //- -----------------------------------------------------------------------------------
                        img(alt="TradeRemit", src="http://www.traderemit.com/app/images/logo-dark.png")
                        p Hi 
                          strong #{name},
                        p
                          | You have a new trade with #{tradePartnerName} ##{code}. This trade is awaiting your action!
                        p
                          a(href="www.traderemit.com") Click here to continue.
                        p &mdash; The #{app.title} team
                        //- ----------------------------------------------------------------------------------
                      td(width='36')
                    tr
                      td(colspan='3', height='36')
            table(cellpadding='0', cellspacing='0', align='center', border='0')
              tr
                td(height='10')
              tr
                td(style='padding: 0; border-collapse: collapse;')
                  table(cellpadding='0', cellspacing='0', align='center', border='0')
                    tr(style='color: #c0c0c0; font-size: 11px; font-family: \'Open Sans\', \'Lucida Grande\', \'Segoe UI\', Arial, Verdana, \'Lucida Sans Unicode\', Tahoma, \'Sans Serif\'; -webkit-text-size-adjust: none;')
                      td(width='400', align='left')
                      td(width='128', align='right') © #{year} #{app.title}
