doctype html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd"
head
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  style(type="text/css"): include mail.css
  body(style='padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;', marginheight='0', marginwidth='0')
    center
      table(cellpadding='8', cellspacing='0', style='*width: 540px; padding: 0; width: 100% !important; background: #ffffff; margin: 0; background-color: #ffffff;', border='0')
        tr
          td(valign='top')
            table(cellpadding='0', cellspacing='0', style='border-radius: 6px; -webkit-border-radius: 6px; border: 1px #c0c0c0 solid; -moz-border-radius: 6px;', border='0', align='center')
              tr
                td(colspan='3', height='6')
              tr
                td
                  table(cellpadding='0', cellspacing='0', style='line-height: 25px;', border='0', align='center')
                    tr
                      td(colspan='3', height='30')
                    tr
                      td(width='36')
                      td(width='454', align='left', style='color: #444444; border-collapse: collapse; font-size: 11pt; font-family: \'Open Sans\', \'Lucida Grande\', \'Segoe UI\', Arial, Verdana, \'Lucida Sans Unicode\', Tahoma, \'Sans Serif\'; max-width: 454px;', valign='top')
                        //- -----------------------------------------------------------------------------------
                        //- Only Edit Here
                        //- -----------------------------------------------------------------------------------
                        p Hi #{name}!
                        p
                          | Click the link below to reset your password.  Please note that this link will expire in one hour for your protection:
                        p
                          a(href=resetLink) Reset Your Password
                        p
                          | If you did not request this, please ignore this email and your password will remain unchanged.
                        p
                          | Thanks so much for using our services! If you have any questions, or suggestions, please feel free to email us here at&nbsp;
                          a(href='mailto:' + app.contactEmail) #{app.contactEmail}
                          | .
                        p   - The #{app.title} team
                        //- ----------------------------------------------------------------------------------
                      td(width='36')
                    tr
                      td(colspan='3', height='36')
            table(cellpadding='0', cellspacing='0', align='center', border='0')
              tr
                td(height='10')
              tr
                td(style='padding: 0; border-collapse: collapse;')
                  table(cellpadding='0', cellspacing='0', align='center', border='0')
                    tr(style='color: #c0c0c0; font-size: 11px; font-family: \'Open Sans\', \'Lucida Grande\', \'Segoe UI\', Arial, Verdana, \'Lucida Sans Unicode\', Tahoma, \'Sans Serif\'; -webkit-text-size-adjust: none;')
                      td(width='400', align='left')
                      td(width='128', align='right') © #{year} #{app.title}
