<template>
  <div class="trade">
<!--
  <pre>{{ trade }}</pre>
-->
    <v-container>
      <h3 class="headline my-5"><v-icon class="display-1 mr-2 indigo--text">access_time</v-icon>TRADE #{{ slug }}</h3>

      <v-alert error value="true" v-if="notFound" class="mb-5">
	      Not found
	    </v-alert>
			<div class="text-xs-center my-5 py-5" v-else-if="loading">
				<v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
			</div>
      <template v-else>
        <v-card class="mt-5 mb-2 pa-3">
          <v-card-text class="headline">Payment info</v-card-text>
          <v-card-text v-if="trade.buyerUsername === me.username">
            <blockquote>You are buying <strong class="green--text">{{ trade.buyerCoinAmount | satoshi2btc }} BTC</strong> from <router-link :to="`/profile/${trade.sellerUsername}`"><strong>{{ trade.sellerUsername }}</strong></router-link></blockquote>
          </v-card-text>
          <v-card-text v-else>
            <blockquote>You are selling <strong class="green--text">{{ trade.sellerCoinAmount | satoshi2btc }} BTC</strong> to <router-link :to="`/profile/${trade.buyerUsername}`"><strong>{{ trade.buyerUsername }}</strong></router-link></blockquote>
          </v-card-text>
          <v-card-text class="body-2">
            <v-layout row wrap>
              <v-flex xs6 md3>Amount to {{ trade.buyerUsername === me.username ? "pay": "receive" }}</v-flex>
              <v-flex xs6 md9 class="green--text">{{ trade.transferAmount | currency("", 2) }} NGN</v-flex>
              <v-flex xs6 md3>Payment method</v-flex>
              <v-flex xs6 md9>Bank transfer</v-flex>
              <v-flex xs6 md3>Bank name</v-flex>
              <v-flex xs6 md9>{{ trade.sellerBankName | snake2Lower | uppercase }}</v-flex>
              <v-flex xs6 md3>Bank account name</v-flex>
              <v-flex xs6 md9 class="indigo--text">{{ trade.sellerBankAccountName }}</v-flex>
              <v-flex xs6 md3>Bank account number</v-flex>
              <v-flex xs6 md9 class="indigo--text">{{ trade.sellerBankAccountNumber }}</v-flex>
            </v-layout>
            <v-btn v-if="trade.buyerUsername === me.username" :to="`/profile/${trade.sellerUsername}`" class="mt-4 indigo" dark large>view {{ trade.sellerUsername }}'s brief <v-icon right dark>person</v-icon></v-btn>
            <v-btn v-else :to="`/profile/${trade.buyerUsername}`" class="mt-4 indigo" dark large>view {{ trade.buyerUsername }}'s brief <v-icon right dark>person</v-icon></v-btn>
          </v-card-text>
        </v-card>
        <v-stepper v-model="trade.steps" vertical class="white mb-5">



          <!-- STEP 1 -->
          <v-stepper-step step="1" :complete="trade.steps > 1">
            <template v-if="trade.buyerUsername === me.username">
              Start trade
            </template>
            <template v-else>
              Start trade
              <small>Deposit your Bitcoin</small>
            </template>
          </v-stepper-step>



          <!-- STEP 2 -->
          <v-stepper-step step="2" :complete="trade.steps > 2">
            <!-- BUYER SEES -->
            <template v-if="trade.buyerUsername === me.username">
              Pay seller
              <small>Send payment to {{ trade.sellerUsername }}</small>
            </template>
            <!-- SELLER SEES -->
            <template v-else>
              Wait for buyer to pay
              <small>Wait to receive payment from {{ trade.buyerUsername }}</small>
            </template>
          </v-stepper-step>

          <!-- STEP 2 CONTENT -->
          <v-stepper-content step="2">
            <!-- EXPIRED TRADE -->
            <template v-if="trade.completed">
              <h3 class="red--text">TRADE HAS {{tradeStatus | uppercase}}</h3>
              <p class="body-1" v-if="trade.buyerUsername === me.username">Your trade of <strong class="green--text">{{ trade.buyerCoinAmount | satoshi2btc }} BTC</strong> with <router-link :to="`/profile/${trade.sellerUsername}`"><strong>{{trade.sellerUsername}}</strong></router-link> has {{tradeStatus}}.</p>
              <p class="body-1" v-else>Your trade of <strong class="green--text">{{ trade.sellerCoinAmount | satoshi2btc }} BTC</strong> with <router-link :to="`/profile/${trade.buyerUsername}`"><strong>{{trade.buyerUsername}}</strong></router-link> has {{tradeStatus}}.</p>
            </template>
            <template v-else>
              <!-- BUYER SEES -->
              <template v-if="trade.buyerUsername === me.username">
                <p class="body-1">
                  You are buying <strong class="green--text">{{ trade.buyerCoinAmount | satoshi2btc }} BTC</strong> from <router-link :to="`/profile/${trade.sellerUsername}`"><strong>{{ trade.sellerUsername }}</strong></router-link>.
                  Seller's BTC has been secured in escrow for this trade. Please send payment to seller and confirm below.</p>
                <p>After this trade is completed, your bitcoin will be sent to <strong>{{ trade.buyerAddress }}</strong></p>
                <v-card class="card--timer red lighten-4 mb-5 pa-5 red--text text--darken-4" flat>
                  <p class="body-2"><v-icon class="red--text text--darken-4 mr-1">access_time</v-icon>Time left to pay</p>
                  <countdown-timer :deadline="trade.expiresAt" @timeUp="onTradeExpire"></countdown-timer>
                  <p class="body-1">When payment time is expired, this trade will be cancelled and escrowed bitcoin will be sent back to seller.</p>
                </v-card>
                <v-btn success @click.native="paymentMadeDialog = true" :disabled="dialogBusy">I have paid seller</v-btn>
                <v-btn flat error @click.native.stop="cancelDialog = true" :disabled="dialogBusy">Cancel trade</v-btn>
              </template>
              <!-- SELLER SEES -->
              <template v-else>
                <p class="body-1">
                  You are selling <strong class="green--text">{{ trade.sellerCoinAmount | satoshi2btc }} BTC</strong> to <router-link :to="`/profile/${trade.buyerUsername}`"><strong>{{ trade.buyerUsername }}</strong></router-link>.
                  Your BTC is temporarily frozen for this trade. Once you receive payment from buyer, please confirm below so that Bitcoin can be released to buyer.</p>
                <v-card class="card--timer red lighten-4 mb-5 pa-5 red--text text--darken-4" flat>
                  <p class="body-2"><v-icon class="red--text text--darken-4 mr-1">access_time</v-icon>Time left for buyer to pay</p>
                  <countdown-timer :deadline="trade.expiresAt" @timeUp="onTradeExpire"></countdown-timer>
                  <p class="body-1">When payment time is expired, this trade will be cancelled and your escrowed bitcoin will be sent back to you.</p>
                </v-card>
                <v-btn
                  primary
                  @click.native="summon(trade.buyerUsername)"
                  :disabled="dialogBusy || !canSummonBuyer || !me.summonsLeft"
                >
                  <summon-timer v-if="!canSummonBuyer" :deadline="trade.sellerNextSummonTime"></summon-timer>
                  Summon {{ trade.buyerUsername }} ({{ me.summonsLeft }} left) <v-icon :dark="canSummonBuyer" right>call</v-icon>
                </v-btn>
                <v-btn success @click.native="paymentReceivedDialog = true" :disabled="dialogBusy || releasingBtc" :loading="releasingBtc">I have received payment</v-btn>
              </template>
            </template>
          </v-stepper-content>




          <!-- STEP 3 -->
          <v-stepper-step step="3" :complete="trade.steps > 3" :rules="[rules.tradeDispute]">
            <!-- BUYER SEES -->
            <template v-if="trade.buyerUsername === me.username">
              Receive BTC
              <small v-if="trade.underDispute && (trade.steps < 4)">Trade is under dispute</small>
              <small v-else>Wait for payment confirmation</small>
            </template>
            <!-- SELLER SEES -->
            <template v-else>
              Release your Bitcoin
              <small v-if="trade.underDispute && (trade.steps < 4)">Trade is under dispute</small>
              <small v-else>Confirm payment from {{ trade.buyerUsername }}</small>
            </template>
          </v-stepper-step>

          <!-- STEP 3 CONTENT -->
          <v-stepper-content step="3">
              <!-- EXPIRED TRADE -->
            <template v-if="trade.completed">
              <h3 class="red--text">TRADE HAS {{tradeStatus | uppercase}}</h3>
              <p class="body-1" v-if="trade.buyerUsername === me.username">Your trade of <strong class="green--text">{{ trade.buyerCoinAmount | satoshi2btc }} BTC</strong> with <router-link :to="`/profile/${trade.sellerUsername}`"><strong>{{trade.sellerUsername}}</strong></router-link> has {{tradeStatus}}.</p>
              <p class="body-1" v-else>Your trade of <strong class="green--text">{{ trade.sellerCoinAmount | satoshi2btc }} BTC</strong> with <router-link :to="`/profile/${trade.buyerUsername}`"><strong>{{trade.buyerUsername}}</strong></router-link> has {{tradeStatus}}.</p>
            </template>
            <template v-else>
              <!-- BUYER SEES -->
              <template v-if="trade.buyerUsername === me.username">
                <p class="body-1">
                  You are buying <strong class="green--text">{{ trade.buyerCoinAmount | satoshi2btc }} BTC</strong> from <router-link :to="`/profile/${trade.sellerUsername}`"><strong>{{ trade.sellerUsername }}</strong></router-link>.
                  Seller's BTC has been secured in escrow for this trade. Please send payment to seller and confirm below.</p>
                <p class="mb-5">After this trade is completed, your bitcoin will be sent to <strong>{{ trade.buyerAddress }}</strong></p>
                <v-btn
                  primary
                  @click.native="summon(trade.sellerUsername)"
                  :disabled="dialogBusy || !canSummonSeller || !me.summonsLeft"
                >
                  <summon-timer v-if="!canSummonSeller" :deadline="trade.buyerNextSummonTime"></summon-timer>
                  Summon {{ trade.sellerUsername }} ({{ me.summonsLeft }} left) <v-icon :dark="canSummonSeller" right>call</v-icon>
                </v-btn>
                <v-btn @click.native="chatDialog = true" :disabled="dialogBusy" v-if="trade.underDispute" secondary>Chat with seller<v-icon right dark>chat</v-icon></v-btn>
                <v-btn warning class="brown--text text--darken-1" @click.native="tradeDisputeDialog = true" v-if="!trade.underDispute" :disabled="dialogBusy">Dispute trade</v-btn>
                <v-btn flat error @click.native.stop="cancelDialog = true" :disabled="dialogBusy">Cancel trade</v-btn>
              </template>
            <!-- SELLER SEES -->
              <template v-else>
                <p class="body-1">
                  You are selling <strong class="green--text">{{ trade.sellerCoinAmount | satoshi2btc }} BTC</strong> to <router-link :to="`/profile/${trade.buyerUsername}`"><strong>{{ trade.buyerUsername }}</strong></router-link>.
                  Your BTC is temporarily frozen for this trade. If you have received payment from buyer, please confirm below so that Bitcoin can be released to buyer.</p>
                <v-alert info :value="!trade.underDispute">
                  Buyer has sent payment to you. Please confirm now so that we can send Bitcoin to buyer.
                </v-alert>
                <v-alert warning class="brown--text text--darken-1" :value="trade.underDispute">
                  This trade is under dispute. If you have received payment from buyer please confirm now so that we can send Bitcoin to buyer.
                </v-alert>
                <div class="mb-5"></div>
                <v-btn
                  primary
                  @click.native="summon(trade.buyerUsername)"
                  v-if="trade.underDispute"
                  :disabled="dialogBusy || !canSummonBuyer || !me.summonsLeft"
                >
                  <summon-timer v-if="!canSummonBuyer" :deadline="trade.sellerNextSummonTime"></summon-timer>
                  Summon {{ trade.buyerUsername }} ({{ me.summonsLeft }} left) <v-icon :dark="canSummonBuyer" right>call</v-icon>
                </v-btn>
                <v-btn warning class="brown--text text--darken-1" @click.native="tradeDisputeDialog = true" v-else :disabled="dialogBusy">Dispute trade</v-btn>
                <v-btn @click.native="chatDialog = true" :disabled="dialogBusy" v-if="trade.underDispute" secondary>Chat with buyer<v-icon right dark>chat</v-icon></v-btn>
                <v-btn success @click.native="paymentReceivedDialog = true" :disabled="dialogBusy || releasingBtc" :loading="releasingBtc">I have received payment</v-btn>
              </template>
            </template>
          </v-stepper-content>

          <!-- STEP 4 -->
          <v-stepper-step step="4">
            Trade complete
            <small v-if="trade.buyerUsername === me.username">Review seller</small>
            <small v-else>Review buyer</small>
          </v-stepper-step>
          <v-stepper-content step="4" class="pa-0 pr-5">
            <trade-review :reviews="reviews" :to="reviewTo" :trade-code="slug"></trade-review>
          </v-stepper-content>
        </v-stepper>
      </template>
    </v-container>

    <!-- DIALOGS -->
    <template v-if="!loading">
      <v-dialog v-model="cancelDialog" persistent>
        <v-card v-if="dialogBusy" class="text-xs-center pa-5">
          <v-progress-circular indeterminate></v-progress-circular>
          <p class="ma-0 subheading">Cancelling this trade...</p>
        </v-card>
        <v-card v-else>
          <v-card-title class="headline">Cancel trade?</v-card-title>
          <v-card-text>Escrowed bitcoin will be sent back to seller, if you have paid seller you will loose this payment. Continue?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="red--text darken-1" flat @click.native="cancelDialog = false">No</v-btn>
            <v-btn class="indigo--text darken-1" flat @click.native="cancelTrade">Yes</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="paymentMadeDialog" persistent v-if="me.username === trade.buyerUsername">
        <v-card v-if="dialogBusy" class="text-xs-center pa-5">
          <v-progress-circular indeterminate></v-progress-circular>
          <p class="ma-0 subheading">Sending payment confirmation to seller...</p>
        </v-card>
        <v-card v-else>
          <v-card-title class="headline">Payment made?</v-card-title>
          <v-card-text>Have you paid the seller the required amount?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="red--text darken-1" flat="flat" @click.native="paymentMadeDialog = false">No</v-btn>
            <v-btn class="indigo--text darken-1" flat="flat" @click.native="paymentMade">Yes</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="paymentReceivedDialog" persistent v-else>
        <v-card v-if="dialogBusy" class="text-xs-center pa-5">
          <v-progress-circular indeterminate></v-progress-circular>
          <p class="ma-0 subheading">Releasing your Bitcoin to buyer...</p>
        </v-card>
        <v-card v-else>
          <v-card-title class="headline">Payment received?</v-card-title>
          <v-card-text>Have you received the required amount from the buyer? Your bitcoin will be released to the buyer. Continue?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="red--text darken-1" flat="flat" @click.native="paymentReceivedDialog = false">No</v-btn>
            <v-btn class="indigo--text darken-1" flat="flat" @click.native="paymentReceived">Yes</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="tradeDisputeDialog" persistent>
        <v-card v-if="dialogBusy" class="text-xs-center pa-5">
          <v-progress-circular indeterminate></v-progress-circular>
          <p class="ma-0 subheading">Disputing this trade...</p>
        </v-card>
        <v-card v-else>
          <v-card-title class="headline">Dispute trade?</v-card-title>
          <v-card-text>Do you want to dispute this trade?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="red--text darken-1" flat="flat" @click.native="tradeDisputeDialog = false">No</v-btn>
            <v-btn class="indigo--text darken-1" flat="flat" @click.native="tradeDispute">Yes</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- chat dialog -->
      <v-dialog
        v-model="chatDialog"
        :fullscreen="isMobile"
        persistent
        lazy
        width="600px"
        transition="dialog-bottom-transition"
        v-if="trade.underDispute"
      >
        <chat
          :trade-code="trade.code"
          :sender-username="me.username"
          :receiver-username="me.username === trade.buyerUsername ? trade.sellerUsername: trade.buyerUsername"
          @closeChat="chatDialog = false"
        ></chat>
      </v-dialog>
    </template>

    <v-snackbar
      v-model="snackbar.show"
      left
      :timeout="10000"
    >
      {{ snackbar.msg }}
      <v-btn flat class="pink--text" @click.native="snackbar.show = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import countdownTimer from "./components/countdownTimer"
import { mapGetters, mapActions } from "vuex";
import moment from "moment";
import chat from "./components/chat";
import SummonTimer from "./components/summonTimer";
import TradeReview from "./components/tradeReview";

import Service from "../../core/service";

let service = new Service("trades");
let reviewService = new Service("reviews");

export default {
  components: {
    countdownTimer,
    chat,
    SummonTimer,
    TradeReview
  },
  
  metaInfo() {
    let title;
    if (!this.trade)
      title = "Trade"
    else
      title = `Trade #${this.trade.code}`
      
    return {
      title: title
    }
  },

  props: ["slug"],

  data () {
    return {
      loading: true,
      trade: null,
      reviews: [],
      cancelDialog: false,
      paymentMadeDialog: false,
      paymentReceivedDialog: false,
      tradeDisputeDialog: false,
      chatDialog: false,
      dialogBusy: false,
      notFound: false,
      snackbar: {
        show: false,
        msg: ''
      },
      rules: {
        tradeDispute: () => {
          if (this.trade.steps > 3) return true;
          return !this.trade.underDispute
        }
      },
      releasingBtc: false
    }
  },

  computed: {
    ...mapGetters("session", [
      "me"
    ]),
    tradeStatus() {
      if (this.trade.summary === "CANCELLED")
        return "been cancelled"
      return this.trade.summary
    },
    isMobile() {
      return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
    },

    canSummonBuyer () {
      if (this.trade.sellerNextSummonTime === undefined) return true;
      if (moment().isAfter(this.trade.sellerNextSummonTime)) return true;
      return false;
    },

    canSummonSeller () {
      if (this.trade.buyerNextSummonTime === undefined) return true;
      if (moment().isAfter(this.trade.buyerNextSummonTime)) return true;
      return false;
    },

    reviewTo () {
      if (this.me.username === this.trade.buyerUsername)
        return this.trade.sellerUsername
      else return this.trade.buyerUsername
    }
  },

  created() {
    this.fetchTrade();
  },

  methods: {
    ...mapActions("session", [ "getSessionUser" ]),

    fetchTrade () {
      service.rest(`find?code=${this.slug}`)
        .then(data => {
          this.trade = data;

          reviewService.rest(`find?tradeCode=${this.slug}`)
            .then(data => {
              this.loading = false
              this.reviews = data;
            });
        }).catch(err => {
          this.notFound = true;
          console.log("Response err ", err);
        });
    },

    cancelTrade() {
      this.dialogBusy = true;
      service.rest(`update?code=${this.trade.code}&type=cancel`)
        .then(data => {
          this.cancelDialog = false;
          this.dialogBusy = false
        }).catch(err => {
          console.log("Response err ", err);
        });
    },

    paymentMade() {
      this.dialogBusy = true;
      service.rest(`update?code=${this.trade.code}&type=paid`)
        .then(data => {
          this.trade.paymentSent = true;
          this.trade.steps = 3;
          this.paymentMadeDialog = false;
          this.dialogBusy = false;
        }).catch(err => {
          console.log("Response err ", err);
        });
    },

    paymentReceived() {
      this.dialogBusy = true;
      this.releasingBtc = true;
      service.rest(`update?code=${this.trade.code}&type=release`)
        .then(data => {
          this.paymentReceivedDialog = false;
          this.dialogBusy = false;
          // this.trade = data;
        }).catch(err => {
          console.log("Response err ", err);
        });
    },

    summon(username) {
      service.rest(`summon?username=${username}&tradeCode=${this.slug}`)
        .then(data => {
          if (data.error) {
            this.snackbar.msg = data.error;
            this.snackbar.show = true;
          } else {
            this.trade = data;
            this.getSessionUser();
          }
        }).catch(err => {
          console.log("Response err ", err);
        });
    },

    tradeDispute() {
      this.dialogBusy = true;
      service.rest(`update?code=${this.trade.code}&type=dispute`)
        .then(data => {
          this.tradeDisputeDialog = false;
          this.dialogBusy = false
        }).catch(err => {
          console.log("Response err ", err);
        });
    },

    onTradeExpire () {
      if (this.trade.paymentSent) return;
      this.trade.completed = true;
      this.trade.summary = "EXPIRED";
      this.fetchTrade();
    }
  },

  socket: {
    events: {
      tradeUpdated(updatedTrade) {
        if (this.trade.code === updatedTrade.code)
          this.trade = updatedTrade;
      }
    }
  },

  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.me) vm.$router.push({ path: "/" })
    })
  },
}
</script>

<style scoped lang="scss">
@import "../../../scss/common/mixins";

.dialog {
  overflow: hidden;
}
.trade {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
  .card--timer {
    @include breakpoint(sm) {
      padding: 15px !important;
    }
  }
}
</style>
