<template>
  <section class="about">
    <v-container>
      <h4 class="my-5">ABOUT US</h4>
      <v-layout>
        <v-flex xs12 md7>
          <img src="../../../images/logo-dark.png" alt="TradeRemit" class="mb-2">
          <p class="body mb-5">
            TradeRemit is a registered Nigerian company<!-- under the Corporate Affairs Commission with RC no. _______ -->.
            We provide a safe and secure market place where Nigerians can buy and sell Bitcoin in a convenient and safe manner from and to fellow traders. We provide purely escrow service giving Nigerians a secure platform to trade Bitcoin.
            <br><br>
            Our well-trained customer support agents are always available to handle any issue that may arise during trading.
            Our team is made up of trading and financial experts with years of experience trading Bitcoin locally and internationally in addition to world renowned engineers working round the clock to guarantee 100% uptime.
            We have a TDR Team whose function is to accelerate and bring swift resolution to the vices that are common with trading Bitcoin, i.e MITM (Man in the Middle) scam.
            <br><br>
            We offer the most user friendly fee when compared with competitors, with the aim of leaving our traders satisfied and getting value for their trade.
            With TradeRemit you are assured of buying or selling Bitcoin safely, cheaply and in a convenient manner.
            <br><br>
            To get in touch with us, feel free to use our live chat tool or send us a mail at <a href="mailto:support@traderemit.com">support@traderemit.com</a>.
            For issues with Bitcoin trading fraud contact our special anti-fraud unit <a href="mailto:tdr@traderemit.com">tdr@traderemit.com</a>.
          </p>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  metaInfo: {
    title: 'About us'
  }
}
</script>

<style lang="scss" scoped>
.about {
  img { min-width: 50% }
  p { line-height: 2 }
}
</style>
