<template>
    <section class="py-5 wallet">
      <v-container v-if="me">
        <h3 class="headline mb-5"><v-icon class="display-1 mr-2 indigo--text">account_balance_wallet</v-icon>BITCOIN WALLET</h3>
        <v-card>
          <v-tabs centered fixed icons v-model="active">

            <v-tabs-bar class="white">
              <v-tabs-item
                v-for="tab in tabs"
                :key="tab.link"
                :to="tab.link"
                ripple
              >
                <v-icon>{{ tab.icon }}</v-icon>
                {{ tab.title }}
              </v-tabs-item>
              <v-tabs-slider class="indigo"></v-tabs-slider>
            </v-tabs-bar>

            <v-tabs-items>
              <v-tabs-content
                v-for="tab in tabs"
                :key="tab.link"
                :id="tab.link"
                class="pb-5"
              >
                <v-layout row>
                  <v-flex xs12 sm8 offset-sm2>
                    <send v-if="tab.title == 'send btc'"></send>
                    <receive v-if="tab.title == 'receive btc'"></receive>
                    <transactions v-if="tab.title == 'transactions'"></transactions>
                  </v-flex>
                </v-layout>
              </v-tabs-content>
            </v-tabs-items>
          </v-tabs>
        </v-card>
      </v-container>
      <v-container v-else>
        <p class="display-1"><v-icon class="display-2 mr-2">account_balance_wallet</v-icon>TRADEREMIT BITCOIN WALLET</p>
        <ol class="mb-4 title">
          <li class="mb-3">Very easy to use &mdash; Just create an account and start receiving bitcoin!</li>
          <li class="mb-3">Very secure &mdash; our authentication options give you the best security for your bitcoins</li>
          <li class="mb-3">Tested and trusted by our over 100k customers</li>
        </ol>
        <v-btn large class="grey darken-4 white--text px-3" href="signup" exact>start using wallet now</v-btn>
      </v-container>
    </section>
</template>

<script>
import Send from './send';
import Receive from './receive';
import Transactions from './transactions';
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    Send,
    Receive,
    Transactions
  },

  metaInfo: {
    title: 'Free Bitcoin wallet'
  },

  data () {
    return {
      tabs: [
        { icon: 'send', title: 'send btc', link: 'send-bitcoin' },
        { icon: 'call_received', title: 'receive btc', link: 'receive-bitcoin' },
        { icon: 'history', title: 'transactions', link: 'transactions' }
      ],
      active: null
    }
  },

  computed: mapGetters("session", [
    "me"
  ]),

  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.me) return
      if (to.path === '/wallet') {
        vm.$router.push({ path: '/wallet/send-bitcoin' })
      }
    })
  },

  beforeRouteLeave (to, from, next) {
    if (to.path === '/wallet') {
      return
    }
    next()
  },

  beforeRouteUpdate (to, from, next) {
    this.active = to.params[0]
    next()
  }
}
</script>

<style scoped lang="scss">
.wallet {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>
