<template>
  <div class="px-3 pt-5">
    <div class="py-2"></div>

    <v-text-field
      id="wallet_address"
      v-model="newAddress"
      single-line
      hint="Copy &amp; share address"
      persistent-hint
      append-icon="content_copy"
      :append-icon-cb="copyAddress2Clipboard"
      class="input-group--focused"
      readonly
    ></v-text-field>

    <div class="text-xs-center">
      <img :src="'https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=' + newAddress">
    </div>

    <v-layout class="pt-3">
      <v-flex xs12 sm6 offset-sm3>
        <v-btn
          class="grey darken-4 white--text"
          large
          block
          :loading="loading"
          :disabled="loading"
          @click.native="generateNewAddress"
        >generate new address</v-btn>
      </v-flex>
    </v-layout>

    <v-snackbar
      v-model="snackbar1.show"
      left
    >
      {{ snackbar1.msg }}
      <v-btn flat class="pink--text" @click.native="snackbar1.show = false">Close</v-btn>
    </v-snackbar>

    <v-snackbar
      v-model="snackbar2.show"
      left
      :timeout="10000"
    >
      {{ snackbar2.msg }}
      <v-btn flat class="pink--text" @click.native="retry">Retry</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import axios from 'axios'

export default {
  name: 'receive',
  data () {
    return {
      snackbar1: {
        show: false,
        msg: ''
      },
      snackbar2: {
        show: false,
        msg: ''
      },
      loading: false,
      newAddress: ''
    }
  },

  computed: mapGetters("session", [
    "me"
  ]),

  created: function () {
    this.newAddress = this.me.walletAddress
  },

  methods: {
    copyAddress2Clipboard: function () {
      let addr = document.getElementById('wallet_address')
      addr.select()
      let successful = document.execCommand('copy')
      if (successful) {
        this.snackbar1.msg = 'Address copied'
      } else {
        this.snackbar1.msg = 'Could not copy address, try manual select & copy'
      }
      this.snackbar1.show = true
    },
    generateNewAddress: function () {
      this.loading = true
      axios.get('/api/persons/newWalletAddress').then(
        (response) => {
          this.loading = false
          this.newAddress = response.data.data
        }
      ).catch(
        () => {
          this.loading = false
          this.snackbar2.msg = 'Could not generate new address'
          this.snackbar2.show = true
        }
      )
    },
    retry: function () {
      this.snackbar2.show = false
      this.generateNewAddress()
    }
  }
}
</script>
