<template>
  <div class="px-3 pt-5">
    <form @submit.prevent="doSendBtc">

      <v-alert class="indigo lighten-4 indigo--text" value="true">
        Your balance: <strong>{{ me.computedBalance | satoshi2btc }} BTC 
        <template v-if="me.escrowedBalance != 0">
          <span class="pr-1 ml-1 mr-2 indigo"></span>
          <span v-badge:lock.icon class="red--after red--text text--accent-2">{{ me.escrowedBalance | satoshi2btc }} BTC</span>
        </template></strong>
      </v-alert>

      <div class="py-2"></div>

      <v-text-field
        label="Send to"
        hint="Bitcoin address"
        v-model.trim="form.receiveAddress"
        :rules="[rules.validAddress]"
        required
      ></v-text-field>

      <div class="py-1"></div>

      <v-text-field
        label="Bitcoin amount"
        :hint="'Maximum amount: ฿' + maxSendAmount"
        :rules="[rules.maxSendAmount, rules.minSendAmount]"
        type="number"
        prefix="฿"
        step="any"
        v-model.number="form.btcAmount"
        required
      ></v-text-field>

      <v-layout class="pt-3">
        <v-flex xs12 sm6 offset-sm3>
          <v-btn
            class="grey darken-4 white--text"
            large
            block
            :loading="form.busy"
            :disabled="form.busy"
            type="submit"
          >send</v-btn>
        </v-flex>
      </v-layout>
    </form>

    <v-snackbar
      v-model="snackbar.show"
      left
      :timeout="10000"
    >
      {{ snackbar.msg }}
      <v-btn flat class="pink--text" @click.native="snackbar.show = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Form from 'vform'
import WAValidator from 'wallet-address-validator'

export default {
  data () {
    return {
      loading: false,
      form: new Form({
        receiveAddress: '',
        btcAmount: null
      }),
      snackbar: {
        show: false,
        msg: ''
      },
      rules: {
        validAddress: (value) => {
          if (value === '') return true
          return WAValidator.validate(value, 'BTC', 'both') || 'Please enter a valid Bitcoin address'
        },
        minSendAmount: (value) => {
          if (value === null) return true
          return value >= 0.01 || 'Minimum send amount ฿0.01'
        },
        maxSendAmount: (value) => {
          return value <= this.maxSendAmount || 'Maximum send amount (฿' + this.maxSendAmount + ') exceeded'
        }
      }
    }
  },
  
  computed: {
    ...mapGetters("session", [
      "me"
    ]),
    maxSendAmount: function () {
      if (this.me.computedBalance <= 0) return 0
      return this.$options.filters.satoshi2btc(this.me.computedBalance)
    }
  },

  methods: {
    doSendBtc: function () {
      if (this.me.computedBalance <= 0) return
      if (this.form.btcAmount > this.maxSendAmount) return
      this.form.post('/api/session/sendCoin')
        .then((data) => {
          if (data.status === 200) {
            this.snackbar.msg = 'Sent ฿' + this.form.btcAmount + ' from wallet'
            this.snackbar.show = true
            this.form.reset()
          }
        })
    }
  }
}
</script>