<template>
  <div>
    <div class="pt-5 hidden-sm-and-down"></div>
    <div v-if="transactions.loading" class="text-xs-center my-5">
      <v-progress-circular indeterminate :size="50"></v-progress-circular>
    </div>
    <v-alert info value="true" class="ma-5" v-else-if="transactions.data.length === 0">
      You have no transactions history
    </v-alert>
    <template v-else>
      <v-list dense three-line :class="{'is-paginating' : transactions.paginating}">
        <div v-for="(item, i) in transactions.data" :key="item.hash">
          <v-list-tile avatar exact :href="'https://blockchain.info/tx/' + item.hash" target="_blank">
            <v-list-tile-avatar>
              <v-icon class="white--text" :class="{
                'light-green': item.wallet_value_change >= 0,
                'red': item.wallet_value_change < 0
              }">{{ item.wallet_value_change < 0 ? 'send' : 'call_received' }}</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>
                <span :class="{ 
                  'red--text': item.wallet_value_change < 0, 
                  'light-green--text': item.wallet_value_change >= 0 
                }">
                  {{ item.wallet_value_change >= 0 ? '+' : '' }}{{ item.wallet_value_change | satoshi2btc }} BTC
                </span>
              </v-list-tile-title>
              <v-list-tile-sub-title class="truncate">
                <span class='grey--text text--darken-4'>{{ item.wallet_value_change < 0 ? 'Sent' : 'Received' }}: </span><span class="blue--text">{{ item.hash }}</span>
              </v-list-tile-sub-title>
              <v-list-tile-sub-title>
                <span class="caption">{{ item.time | ago }}</span>
              </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider inset v-show="i < (transactions.data.length - 1)"></v-divider>
        </div>
      </v-list>
      <div class="text-xs-center mt-3">
        <v-btn small flat secondary :disabled="transactions.page_meta.current_page === 1" @click.native="gotoPrev()"><v-icon left>arrow_back</v-icon>Previous</v-btn>
        <v-btn small flat secondary :disabled="transactions.page_meta.total === transactions.page_meta.current_page" @click.native="gotoNext()">Next<v-icon right>arrow_forward</v-icon></v-btn>
      </div>
    </template>

    <v-snackbar
      v-model="snackbar.show"
      left
      :timeout="10000"
    >
      {{ snackbar.msg }}
      <v-btn flat class="pink--text" @click.native="retry">Retry</v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      snackbar: {
        show: false,
        msg: ''
      }
    };
  },

  computed: mapGetters("session", [
    "transactions",
    "me"
  ]),

  created() {
    if (!this.me) return;
    if (this.transactions.data.length === 0)
      this.getTransactions();
  },

  methods: {
    ...mapActions("session", [
      "getTransactions"
    ]),
    retry () {
      this.snackbar.show = false
      this.getTransactions()
    },
    gotoPrev () {
      this.transactions.paginating = true;
      this.getTransactions(this.transactions.page_meta.current_page - 1);
    },
    gotoNext () {
      this.transactions.paginating = true;
      this.getTransactions(this.transactions.page_meta.current_page + 1);
    }
  }
}
</script>