<template>
  <section class="identity-verification py-3 mb-5">
    <v-container>
      <h3 class="headline my-5"><v-icon class="display-1 mr-2 indigo--text">verified_user</v-icon>IDENTITY VERIFICATION</h3>
      <admin v-if="me.roles.includes('admin')"></admin>
      <template v-else>
        <v-alert 
          :success="me.idVerificationStatus === 'VERIFIED'"
          :info="me.idVerificationStatus === 'PENDING'"
          :warning="me.idVerificationStatus === 'NOT_VERIFIED' || me.idVerificationStatus === 'DECLINED'" 
          value="true" 
          class="mb-4 py-4"
        >
          <p class="title mb-0">Identity verification status: <span :class="verificationStatus.class">{{ verificationStatus.status }}</span></p>
          <p class="body-2 mb-0 mt-3" v-if="me.idVerificationStatus === 'PENDING'">
            Thank you for getting back to us. Your uploads will be screened shortly. You will be notified via email once the screening is complete.
          </p>
          <p class="body-2 mb-0 mt-3" v-else-if="me.idVerificationStatus === 'DECLINED'">
            Possible reasons for this include:
            <ul>
              <li>The photos you uploaded are blurred or photoshoped</li>
              <li>You have uploaded an invalid means of identification</li>
              <li>Your ID is expired or revoked</li>
            </ul>
            <br>
            Please read the guide below carefully and try again.
            <br>
            We sincerely regret any inconveniences that this might cause you.
          </p>
        </v-alert>
        <v-layout column>
          <v-flex lg12>
            <v-card flat>
              <v-card-text class="pa-5 mb-3">
                <p class="title grey--text text--darken-2">TradeRemit identity verification</p>
                <p class="body ml-3 grey--text text--darken-1">
                  To increase your trade trust, 
                  we require further verification and request that you <strong>please take 
                  a picture of a piece of governmental issued ID (like an international passport, 
                  drivers license, or national ID), along with a photo of you holding 
                  it up to the side of your face</strong>. Please make sure you 
                  include <strong>both</strong> pictures.
                  <br><br>
                  If you have any questions or issues, please use the live chat tool to
                  chat with one of our customer care agents or send us a mail at
                  <a href="mailto:support@traderemit.com">support@traderemit.com</a>.
                  <br><br>
                  Kind regards, <br>
                  Ejiro from TradeRemit.
                </p>
              </v-card-text>
            </v-card>

            <dropzone 
              v-if="showFileUpload"
              id="myVueDropzone"
              ref="myVueDropzone" 
              url="/identity-verification" 
              @vdropzone-success="showSuccess"
              :accepted-file-types="'image/*'"
              :max-file-size-in-mb="2"
              :max-number-of-files="2"
              :auto-process-queue="false"
              @vdropzone-file-added="fileAdded"
              @vdropzone-removed-file="fileRemoved"
            >
            </dropzone>
          </v-flex>
          <v-flex xs12 md3 v-if="showFileUpload">
            <v-btn class="mx-0 mt-3" @click="uploadFiles" :disabled="files < 2" block large primary>upload<v-icon right>cloud_upload</v-icon></v-btn>
          </v-flex>
        </v-layout>
      </template>
    </v-container>

    <v-snackbar
      v-model="snackbar.show"
      left
      :timeout="10000"
    >
      {{ snackbar.msg }}
      <v-btn flat class="pink--text" @click.native="snackbar.show = false">Close</v-btn>
    </v-snackbar>
  </section>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Dropzone from 'vue2-dropzone';
import Admin from './admin/index';

export default {
  components: {
    Dropzone,
    Admin
  },

  metaInfo: {
    title: 'Identity verification'
  },

	computed: {
    ...mapGetters("session", [
      "me",
    ]),

    verificationStatus () {
      if (this.me.idVerificationStatus === 'PENDING')
        return { status: "Pending", class: "light-blue--text text--lighten-4" };
      else if (this.me.idVerificationStatus === 'VERIFIED')
        return { status: "Verified", class: "white--text" };
      else if (this.me.idVerificationStatus === 'NOT_VERIFIED')
        return { status: "Not verified", class: "red--text" };
      else
        return { status: "Declined", class: "red--text" };
    },

    showFileUpload () {
      if (this.me.idVerificationStatus === 'PENDING' || this.me.idVerificationStatus === 'VERIFIED')
        return false;
      else return true;
    }
  },

  data() {
    return {
      files: 0,
      snackbar: {
        show: false,
        msg: ''
      },
    }
  },

  methods: {
    ...mapActions("session", [
      "getSessionUser"
    ]),

    showSuccess() {
      this.getSessionUser()
    },

    uploadFiles () {
      let dropZone = this.$refs.myVueDropzone;
      if (dropZone.getAcceptedFiles().length < 2) {
        this.snackbar.msg = 'Upload failed, please check your files';
        this.snackbar.show = true;
        return;
      }
      this.$refs.myVueDropzone.processQueue()
    },

    fileAdded () {
      let dropZone = this.$refs.myVueDropzone;
      if (dropZone.dropzone.files.length > 2) {
        dropZone.removeFile(dropZone.dropzone.files[0])
      }
      this.files = dropZone.dropzone.files.length;
    },

    fileRemoved () {
      let dropZone = this.$refs.myVueDropzone;
      this.files = dropZone.getAcceptedFiles().length;
    }
  },

  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.me) vm.$router.push({ path: "/" })
    })
  },
}
</script>

<style scoped lang="scss">
.identity-verification {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
  .body {
    line-height: 28px;
  }
}
</style>