extends layout

block styles
	script(src='https://unpkg.com/vue')
//- 	// Site stylesheet
//- 	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	
	.home#app
		include parts/hero
		h1 {{ message }}
	//- 	h1=t("welcomeTo", app)

	//- 	.buttons
	//- 		a.button(href="/login")=t("Login")
	//- 		if features.disableSignUp !== true
	//- 			a.button(href="/signup")=t("Signup")

	//- include parts/footer

block scripts
	script(src='/app/vendor.js')
	script(src='/app/frontend.js')
	script(src='https://unpkg.com/vuetify/dist/vuetify.min.js')
	script.
		var app = new Vue({
			el: '#app',
			data: {
				message: 'Hello Vue!'
			}
		})