doctype html
html(lang=language)
	head
		title #{app.title}
		include parts/head

		block styles

	body
		include parts/ga	
			
		block content
			
		block scripts

		script(type="text/javascript").
			//- !function(a,b){function c(){var b=a.createElement("iframe");return b.id="kayako-messenger-frame",b.style.border="none",b.style.width="100%",b.style.height="100%",b}function d(){var c=a.createElement("script");return c.async=!0,c.type="text/javascript",c.src=b._settings.messengerUrl,c.crossOrigin="anonymous",c}function e(){var b=a.createElement("div");return b.id="kayako-messenger",b.style.position="fixed",b.style.right=0,b.style.bottom=0,b.style.width=0,b.style.height=0,b}window.kayako=b,b.readyQueue=[],b.ready=function(a){b.readyQueue.push(a)},b._settings={apiUrl:"https://traderemit.kayako.com/api/v1",teamName:"TradeRemit",homeTitles:[{"locale":"en-us","translation":"TradeRemit"}],homeSubtitles:[{"locale":"en-us","translation":"Welcome to TradeRemit. Let's chat if you have any issues buying or selling Bitcoin here, you can also find answers to questions in our Help Center page — start a new conversation below."}],messengerUrl:"https://traderemit.kayakocdn.com/messenger",realtimeUrl:"wss://kre.kayako.net/socket",widgets:{presence:{enabled:true},twitter:{enabled:false,twitterHandle:"null"},articles:{enabled:false,sectionId:null}},styles:{primaryColor:"#3f51b5",homeBackground:"-134deg, #581F7E 0%, #5195F8 100%",homePattern:"https://assets.kayako.com/messenger/pattern-1--dark.svg",homeTextColor:"#FFFFFF"}};var f=a.body.getElementsByTagName("script")[0],g=c(),h=e();f.parentNode.insertBefore(h,f),h.appendChild(g,f),g.contentWindow.document.open(),g.contentWindow.document.write("<!DOCTYPE html>"),g.contentWindow.document.write("<html>"),g.contentWindow.document.write("<head></head>"),g.contentWindow.document.write("<body></body>"),g.contentWindow.document.write("</html>"),g.contentWindow.document.body.appendChild(d()),g.contentWindow.document.close()}(document,window.kayako||{});
			!(function(d,a){function c(){var b=d.createElement("script");b.async=!0;b.type="text/javascript";b.src=a._settings.messengerUrl;b.crossOrigin="anonymous";var c=d.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}window.kayako=a;a.readyQueue=[];a.newEmbedCode=!0;a.ready=function(b){a.readyQueue.push(b)};a._settings={apiUrl:"https://traderemit.kayako.com/api/v1",teamName:"TradeRemit",homeTitles:[{"locale":"en-us","translation":"TradeRemit"}],homeSubtitles:[{"locale":"en-us","translation":"Welcome to TradeRemit. \nLet's chat if you have any issues buying or selling Bitcoin, you can also find answers to questions in our Help Center — start a new conversation below."}],messengerUrl:"https://traderemit.kayakocdn.com/messenger",realtimeUrl:"wss://kre.kayako.net/socket",widgets:{presence:{enabled:true},twitter:{enabled:false,twitterHandle:"901383525210968065"},articles:{enabled:false,sectionId:2}},styles:{primaryColor:"#1a237e",homeBackground:"-134deg, #581F7E 0%, #5195F8 100%",homePattern:"https://assets.kayako.com/messenger/pattern-3--dark.svg",homeTextColor:"#FFFFFF"}};window.attachEvent?window.attachEvent("onload",c):window.addEventListener("load",c,!1)})(document,window.kayako||{});
