extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/vendor.css?v=' + app.version)
	link(rel='stylesheet', href='/app/styles/app.css?v=' + app.version)
	style.
		[v-cloak] {
			display: none;
		}

block content
	#app(v-cloak) This browser does not support modern Javascript Applications. You can download a modern browser 
		a(href="//www.google.com/chrome/") here

block scripts
	// Site scripts
	script(src='/app/vendor.js?v=' + app.version)
	script(src='/app/app.js?v=' + app.version)
	