<template>
  <section class="l-and-p mb-5">
    <v-container>
      <h4 class="my-5">LEGAL AND POLICY</h4>
      <v-layout>
        <v-flex xs12 md7>
            <h6>Terms and Condition</h6>
            <p class="body">This Agreement is a contract between you and applies to your use of TradeRemit services.</p>
            <p class="body">By registering for the Services, you must read, agree with and accept all of the terms and conditions contained in this Agreement. You agree that any use by you of the Services shall constitute your acceptance of the Agreement and we recommend that you store or print-off a copy of the Agreement (for personal use only) for your records.</p>
            <p class="body">We may amend this Agreement at any time by posting a revised version on our website. The revised version will be effective at the time we post it. If the revised version includes a substantial change, we will provide you with a prior notice of any substantial change.</p>
            <p class="body">Consumers are advised to read these terms and conditions carefully.</p>
            <p class="body">You are solely responsible for understanding and complying with any and all the laws, rules and regulations of your specific jurisdiction that may be applicable to you in connection with your use of the Services, including but not limited to, those related to taxes or foreign currency transactions.</p>
            <br>

            <h6>Account Security</h6>
            <p class="body">You are completely responsible for the information provided on your account. TradeRemit will not be accountable to any loss of information such as disclosure of password or sensitive information related to their accounts.</p>
            <br>
            
            <h6>Prohibited Activities</h6>
            <p class="body">
              You agree that when using the services provided by TradeRemit you will not:
              <ul class="mt-3 ml-3">
                <li>Breach the terms and conditions of TradeRemit</li>
                <li>Engage or attempt to engage in illegal or fraudulent activities;</li>
                <li>Provide false or inaccurate information to TradeRemit</li>
              </ul>
            </p>
            <br>

            <h6>Indemnification</h6>
            <p class="body">You agree to defend, indemnify and hold harmless TradeRemit, our Financial Institution Partners, and our and their respective officers, directors, agents, employees, and suppliers from any third party claims, actions, proceedings, and suits and related liabilities, damages, settlements, penalties, fines, costs or expenses (including reasonable attorneys' fees and other litigation expenses) arising from: (a) your violation of these Terms or any other applicable terms or policies of TradeRemit or our Financial Institution Partners; (b) your use of the TradeRemit Services; or (c) your negligence or wilful misconduct; and/or (d) your actual or alleged violation of any third party rights, or any applicable laws, regulations or rules.</p>
            <br>

            <h6>Limited Liability</h6>
            <p class="body">TradeRemit is not liable to you for any loss, damage, claim or compensation (including loss of profit or loss of use) incurred by you from your use of, or your inability to use, the Website or the products or services offered through or by the Website however caused notwithstanding any error or omission including negligence. </p>
            <p class="body">You also indemnify and hold blameless TradeRemit, its directors, officers, employees and agents form and in respect of any loss, damage, liability, cost or expense that it may suffer or incur by reason of you failing to discharge your obligations under or acting in breach of any of these T&Cs or any breach of any applicable law or regulation.</p>
            <br>

            <h6>Force Majeure Event</h6>  
            <p class="body">You understand and agree we will not be held responsible for any losses or damages resulting from suspension of service due to extraordinary events or circumstances beyond our control. In such an event, TradeRemit may suspend the its Services and access to your Account and our Financial Institution Partners may suspend service and access to funds in a Holding Account.</p>
            <br>

            <h6>Disclaimer of Warranties</h6>
            <p class="body">This service is provided by TradeRemit on an "as is" and "as available" basis. TradeRemit makes no representations or warranties of any kind, express or implied, as to the operation of the service or the information, content, materials, or products included on this website. TradeRemit does not guarantee or warrant the accuracy of information contained on this website or that access to this website or use of the service will be uninterrupted. To the full extent permissible by applicable law, TradeRemit disclaims all warranties, express or implied, including but not limited to, implied warranties of merchantability and fitness for a particular purpose.</p>
            <br>

            <h6>No Waiver</h6>
            <p class="body">The failure of TradeRemit to exercise or enforce any right or provision of the Terms and Conditions shall not constitute a waiver of such right or provision.</p>
            <br>

            <h6>Governing Law and Jurisdiction</h6>
            <p class="body">These Terms and Conditions shall be interpreted and governed by the laws of the Federal Republic of Nigeria.</p>
          </p>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  metaInfo: {
    title: 'Legal and Policy'
  }
}
</script>

<style lang="scss">
.l-and-p {
  p { line-height: 1.8 }
}
</style>