<template>
	<div class="home">
    <section class="hero indigo darken-4 text-xs-center py-5">
      <v-container>
        <h1 class="display-2 white--text mt-4">PEER TO PEER BITCOIN MARKETPLACE</h1>
        <h2 class="headline indigo--text text--lighten-4 pb-5">Buy and sell Bitcoin near you<br><span class="teal--text text--accent-2">Instant. Easy. Secure.</span></h2>
        <v-layout row wrap justify-center>
          <div>
            <p class="title white--text">BUY AT:</p>
            <p v-if="sellAdsMeta.loading" class="subheading indigo--text text--lighten-4">LOADING...</p>
            <p v-else class="subheading indigo--text text--lighten-4">{{ cheapestSellAdNGNBTC | currency('', 0) }} NGN</p>
            <v-btn to="/trade/buy-bitcoin" class="white indigo--text mb-3 px-1" large>Buy now</v-btn>
          </div>
          <div>
            <p class="title white--text">SELL AT:</p>
            <p v-if="buyAdsMeta.loading" class="subheading indigo--text text--lighten-4">LOADING...</p>
            <p v-else class="subheading indigo--text text--lighten-4">{{ cheapestBuyAdNGNBTC | currency('', 0) }} NGN</p>
            <v-btn to="/trade/sell-bitcoin" class="teal accent-2 indigo--text mb-3 px-1" large>Sell now</v-btn>
          </div>
        </v-layout>
      </v-container>
    </section>

    <v-container>
      <section class="list-of-sellers py-5">
        <h3 class="display-1 mb-0 indigo--text">LIST OF SELLERS</h3>
        <div class="text-xs-center my-5 py-5" v-if="sellAdsMeta.loading">
          <v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
        </div>
        <div v-else-if="sellAds.length === 0">
          <blockquote class="title my-5">Sorry there are no sellers available. Be the first to <router-link to="/advertisements/create">post an advertisement.</router-link></blockquote>
        </div>
        <div v-else>
          <!--
          <v-checkbox v-bind:label="'Show offline sellers'" color="grey darken-4" v-model="ex2" light></v-checkbox>
          -->
          <v-list three-line class="elevation-3 mt-5" :class="{'is-paginating' : sellAdsMeta.paginating}">
            <div v-for="(ad, i) in sellAds" :key="ad.code" @click="goto(`/advertisements/${ad.slug}`)">
              <v-list-tile ripple class="list__tile--link">
                <v-list-tile-content>
                  <v-list-tile-sub-title class="grey--text text--darken-4">
                    <price-display-toggle :price="ad.price" with-fee></price-display-toggle>
                    via <span class="capitalize">{{ ad.bankName | snake2Lower }}</span>
                  </v-list-tile-sub-title>
                  <v-list-tile-sub-title><i><small>Trade limits: <strong>{{ ad.minimumAmount | satoshi2btc }} BTC - {{ ad.maximumAmount | satoshi2btc }} BTC</strong></small></i></v-list-tile-sub-title>
                  <v-list-tile-sub-title class="grey--text text--darken-4">
                    Buy from <span class="fake-link indigo--text" @click.stop="goto(`profile/${ad.username}`)">{{ ad.username }}</span><online-status :username="ad.username"></online-status>
                  </v-list-tile-sub-title>
                </v-list-tile-content>
                <div class="hidden-sm-and-down">
                  <v-list-tile-action>
                    <div class="pa-3 body-2 indigo--text text--lighten-2">BUY</div>
                  </v-list-tile-action>
                </div>
              </v-list-tile>
              <v-divider v-if="i < (sellAds.length - 1)"></v-divider>
            </div>
          </v-list>
          <div class="mt-5 text-xs-center">
            <v-btn flat small @click.native="prevSellAds(sellAdsMeta)" :disabled="sellAdsMeta.offset === 0">
              <v-icon left>arrow_back</v-icon>
              previous
            </v-btn>
            <v-btn flat small @click.native="nextSellAds(sellAdsMeta)" :disabled="(sellAdsMeta.offset + sellAdsMeta.limit) >= sellAdsMeta.total">
              next
              <v-icon right>arrow_forward</v-icon>
            </v-btn>
          </div>
        </div>
      </section>

      <section class="list-of-buyers py-5">
        <h3 class="display-1 mb-0 indigo--text">LIST OF BUYERS</h3>
        <div class="text-xs-center my-5 py-5" v-if="buyAdsMeta.loading">
          <v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
        </div>
        <div v-else-if="buyAds.length === 0">
          <blockquote class="title my-5 ">Sorry there are no buyers available. Be the first to <router-link to="/advertisements/create">post an advertisement.</router-link></blockquote>
        </div>
        <div v-else>
          <!--
          <v-checkbox v-bind:label="'Show offline buyers'" color="grey darken-4" v-model="ex2" light></v-checkbox>
          -->
          <v-list three-line class="elevation-3 mt-5" :class="{'is-paginating' : buyAdsMeta.paginating}">
            <div v-for="(ad, i) in buyAds" :key="ad.code" @click="goto(`/advertisements/${ad.slug}`)">
              <v-list-tile ripple class="list__tile--link">
                <v-list-tile-content>
                  <v-list-tile-sub-title class="grey--text text--darken-4">
                    <price-display-toggle :price="ad.price"></price-display-toggle>
                    via <span class="capitalize">{{ ad.bankName | snake2Lower }}</span>
                  </v-list-tile-sub-title>
                  <v-list-tile-sub-title><i><small>Trade limits: <strong>{{ ad.minimumAmount | satoshi2btc }} BTC - {{ ad.maximumAmount | satoshi2btc }} BTC</strong></small></i></v-list-tile-sub-title>
                  <v-list-tile-sub-title class="grey--text text--darken-4">
                    Sell to <span class="fake-link indigo--text" @click.stop="goto(`profile/${ad.username}`)">{{ ad.username }}</span><online-status :username="ad.username"></online-status>
                  </v-list-tile-sub-title>
                </v-list-tile-content>
                <div class="hidden-sm-and-down">
                  <v-list-tile-action>
                    <div class="pa-3 body-2 indigo--text text--lighten-2">SELL</div>
                  </v-list-tile-action>
                </div>
              </v-list-tile>
              <v-divider v-if="i < (buyAds.length - 1)"></v-divider>
            </div>
          </v-list>
          <div class="mt-5 text-xs-center">
            <v-btn flat small @click.native="prevBuyAds(buyAdsMeta)" :disabled="buyAdsMeta.offset === 0">
              <v-icon left>arrow_back</v-icon>
              previous
            </v-btn>
            <v-btn flat small @click.native="nextBuyAds(buyAdsMeta)" :disabled="(buyAdsMeta.offset + buyAdsMeta.limit) >= buyAdsMeta.total">
              next
              <v-icon right>arrow_forward</v-icon>
            </v-btn>
          </div>
        </div>
      </section>
    </v-container>

    <section class="indigo lighten-5 py-5 text-xs-center text-md-left">
      <v-container>
        <p class="display-1 white--text my-5 indigo--text">Want better price? <v-btn to="/advertisements/create" large class="grey darken-4 white--text large">post an advertisement</v-btn></p>
      </v-container>
    </section>

    <!-- CUSTOMER REVIEWS -->
    <section class="text-xs-center py-5">
      <h4 class="headline my-5 indigo--text">What our customers are saying</h4>
      <div class="text-xs-center my-5 py-5" v-if="reviews.meta.loading">
        <v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
      </div>
      <div v-else-if="reviews.data.length === 0">
        <p class="heading">Sorry there are no reviews yet.</p>
      </div>
      <v-container v-else grid-list-md>
        <v-layout row wrap>
          <v-flex xs12 sm6 md4 v-for="review in reviews.data" :class="{'is-paginating' : reviews.meta.paginating}" :key="review.code">
            <v-card class="text-xs-left elevation-1 review-card">
              <v-card-text>
                <v-layout row align-center>
                  <v-flex xs2>
                    <span class="display-2" v-html="getSmiley(review.summary)"></span>
                  </v-flex>
                  <v-flex xs10>
                    <ul class="pa-0 breadcrumbs breadcrumbs--with-icons truncate">
                      <li data-divider="arrow_forward">
                        <router-link :to="`/profile/${review.from}`" class="breadcrumbs__item pl-0">{{ review.from }}</router-link>
                      </li>
                      <li>
                        <router-link :to="`/profile/${review.to}`" class="breadcrumbs__item pr-0">{{ review.to }}</router-link>
                      </li>
                      <li></li>
                    </ul>
                  </v-flex>
                </v-layout>
                <p class="mt-3"><i class="grey--text">"{{ review.comment | truncate(170) }}"</i></p>
              </v-card-text>
            </v-card>
          </v-flex>

          <v-flex xs12 class="mt-5 text-xs-center">
            <v-btn flat @click.native="prevReviews()" :disabled="reviews.meta.offset === 0">
              <v-icon left>arrow_back</v-icon>
              previous
            </v-btn>
            <v-btn flat @click.native="nextReviews()" :disabled="(reviews.meta.offset + reviews.meta.limit) >= reviews.meta.total">
              next
              <v-icon right>arrow_forward</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { TRADEREMITCHARGE } from "../../core/config";
import PriceDisplayToggle from "../../core/components/priceDisplayToggle";
import OnlineStatus from "../../core/components/onlineStatus";
import BuyerReputation from "../../core/components/buyerReputation";
import Service from "../../core/service";

let reviewService = new Service("reviews");

export default {
  components: {
    PriceDisplayToggle,
    BuyerReputation,
    OnlineStatus
  },

  metaInfo: {
    title: 'Buy and sell Bitcoin near you'
  },

  data () {
    return {
      //ex2: true,
      loading_reviews: true,
      priceDisplayNGNBTC: true,
      reviews: {
        data: [],
        meta: {
          loading: true,
          offset: 0,
          limit: 9,
          total: 0,
          paginating: true
        }
      }
    }
  },

  created() {
    this.getSellAds(this.sellAdsMeta);
    this.getBuyAds(this.buyAdsMeta);
    this.getTradeReviews();
  },

  computed: {
    ...mapGetters("sellAdvertisements", [
      "sellAds",
      "sellAdsMeta",
      "cheapestSellAd"
    ]),
    ...mapGetters("buyAdvertisements", [
      "buyAds",
      "buyAdsMeta",
      "cheapestBuyAd"
    ]),
    ...mapGetters("globalState", [
      "usdRate"
    ]),
    cheapestBuyAdNGNBTC () {
      let buyAt = 0
      try {
        buyAt = parseInt((this.cheapestBuyAd.price - TRADEREMITCHARGE) * this.usdRate)
      } catch (e) {
        console.log(e)
      }
      return buyAt
    },
    cheapestSellAdNGNBTC () {
      let sellAt = 0
      try {
        sellAt = parseInt((this.cheapestSellAd.price + TRADEREMITCHARGE) * this.usdRate)
      } catch (e) {
        console.log(e)
      }
      return sellAt
    }
  },

  methods: {
    ...mapActions("sellAdvertisements", {
      getSellAds: "downloadRows",
      nextSellAds: "downloadNextPage",
      prevSellAds: "downloadPrevPage"
    }),

    ...mapActions("buyAdvertisements", {
      getBuyAds: "downloadRows",
      nextBuyAds: "downloadNextPage",
      prevBuyAds: "downloadPrevPage"
    }),

    goto (url) {
      this.$router.push(url);
    },

    getSmiley(summary) {
      let smileyCode;

      switch (summary) {
        case "GOOD":
          smileyCode = "&#128515";
          break;
        case "NEUTRAL":
          smileyCode = "&#128528";
          break;
        case "BAD":
          smileyCode = "&#128542";
      }
      return smileyCode;
    },

    getTradeReviews () {
      let query = this.reviews.meta;
      reviewService.rest(`all?sort=-createdAt&limit=${query.limit}&offset=${query.offset}`)
      .then(data => {
        this.reviews.data = data.data;
        this.reviews.meta.total = data.total;
        this.reviews.meta.loading = false;
        this.reviews.meta.paginating = false;
      });
    },

    prevReviews () {
      this.reviews.meta.paginating = true;
      this.reviews.meta.offset -= this.reviews.meta.limit;
      this.getTradeReviews();
    },

    nextReviews () {
      this.reviews.meta.paginating = true;
      this.reviews.meta.offset += this.reviews.meta.limit;
      this.getTradeReviews();
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../../scss/common/mixins";

.display-1,
.display-2 {
  font-weight: 500 !important;
  @include breakpoint(md) {
    font-size: 24px !important;
    line-height: 34px !important;
  }
}

.headline {
  @include breakpoint(sm) {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}
.hero {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../../images/btc-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: .2;
  }
  >* {
    position: relative;
    z-index: 1;
  }
  @include breakpoint(sm) {
    padding: 0 !important;
  }
}
.breadcrumbs {
  display: inline-flex;
  display: -webkit-box;
}
.chip {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  padding: 0 15px;
  margin: 0;
  height: auto;
}
.review-card {
  height: 200px !important;
  .card__text { height: inherit }
  p { word-wrap: break-word }
  @include breakpoint (md) {
    height: 150px !important;
  }
  @include breakpoint (sm) {
    height: auto !important;
  }
}
</style>
