<template>
  <v-card>
    <v-toolbar dark style="margin: 0 !important">
      <v-btn icon @click.native="closeChat" dark>
        <v-icon>close</v-icon>
      </v-btn>
      <v-toolbar-title>Chat with {{ receiverUsername }}</v-toolbar-title>
    </v-toolbar>
    <div class="chat-messages--container px-3" ref="messages">
      <v-progress-linear v-if="loading" :indeterminate="true" height="2"></v-progress-linear>
      <ul class="chat-messages">
        <li
          v-for="message in messages"
          class="chat-message"
          :class="{right: message.senderUsername === senderUsername}"
          :key="message.id"
        >
          <small class="sender">{{ message.senderUsername }}</small>
          <small class="time grey--text">{{ message.createdAt | ago }}</small>
          <p
            class="body"
            :class="{
              indigo: message.senderUsername === receiverUsername,
              grey: message.senderUsername === senderUsername }"
          >
          <img v-if="message.isImage" :src="message.body">
          <template v-else>{{ message.body }}</template>
          </p>
        </li>
      </ul>
      <div class="text-xs-right">
        <v-progress-circular v-show="busySending" indeterminate :size="15" class="grey--text"></v-progress-circular>
      </div>
    </div>
    <div class="message-input px-3 grey lighten-4">
      <v-layout row wrap>
        <v-flex xs2 md1 class="py-2">
          <input type="file" id="fileInput" style="display: none;" accept="image/*">
          <v-btn 
            icon 
            class="indigo--text" 
            @click="selectFile"
            v-tooltip:right="{ html: 'Attach file (Max 1MB)' }"
          ><v-icon>attach_file</v-icon></v-btn>
        </v-flex>
        <v-flex xs10 md11>
          <v-text-field
            single-line
            v-model="message.body"
            label="Type your message..."
            append-icon="send"
            :append-icon-cb="sendMessage"
            ref="messageInput"
          ></v-text-field>
        </v-flex>
      </v-layout>
    </div>

    <v-snackbar
      v-model="snackbar.show"
      error
      left
    >
      {{ snackbar.msg }}
      <v-btn flat class="white--text" @click.native="snackbar.show = false">Close</v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
import moment from "moment"

import Service from "../../../core/service";

let service = new Service("messages");

export default {
  props: {
    tradeCode: {
      required: true,
      type: String
    },
    senderUsername: {
      required: true,
      type: String
    },
    receiverUsername: {
      required: true,
      type: String
    },
  },

  data () {
    return {
      loading: true,
      messages: [],
      message: {
        senderUsername: this.senderUsername,
        receiverUsername: this.receiverUsername,
        body: "",
        tradeCode: this.tradeCode,
        createdAt: null,
        isImage: false
      },
      snackbar: {
        msg: "",
        show: ""
      },
      busySending: false
    }
  },

  created () {
    this.refreshMessages();
  },

  mounted() {
    // set event handler for message submit
    this.$refs.messageInput.$refs.input.onkeyup = e => {
      if (e.keyCode === 13) this.sendMessage()
    }

    document.getElementById("fileInput").onchange = (e) => {
      let file = e.target.files[0];
      if (file.size > 1024000) {
        this.snackbar.msg = "File is too large (Max file size is 1MB)";
        this.snackbar.show = true;
        return;
      }
      let newMessage = {
        senderUsername: this.senderUsername,
        receiverUsername: this.receiverUsername,
        body: "",
        tradeCode: this.tradeCode,
        createdAt: moment(),
        isImage: true
      };
      let reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => {
        newMessage.body = reader.result;
        this.busySending = true;
        service.rest("create?isImage=1", newMessage)
          .then(() => {
            this.busySending = false;
          })
          .catch((err) => {
            this.refreshMessages()
            console.log("Response err ", err);
          });
        this.messages.push(newMessage);
        this.scrollToBottom();
      };
      reader.onerror = (error) => {
        this.snackbar.msg = `Error: ${ error }`;
        this.snackbar.show = true;
      };
    }
  },

  methods: {
    refreshMessages () {
      // fetch messages
      this.loading = true;
      service.rest(`all?tradeCode=${this.tradeCode}`)
      .then((data) => {
        this.messages = data;
        this.scrollToBottom();
        this.loading = false
      }).catch((err) => {
        console.log("Response err ", err);
      });
    },

    closeChat() {
      this.$emit("closeChat")
    },

    clone(obj) {
      if (null == obj || "object" != typeof obj) return obj;
      var copy = obj.constructor();
      for (var attr in obj) {
          if (obj.hasOwnProperty(attr)) copy[attr] = obj[attr];
      }
      return copy;
    },

    sendMessage() {
      if (this.message.body === "") return;

      this.message.createdAt = moment();
      let newMessage = this.clone(this.message);

      this.busySending = true;
      service.rest("create", newMessage)
        .then(() => {
          this.busySending = false;
        })
        .catch((err) => {
          this.refreshMessages()
          console.log("Response err ", err);
        });

      this.messages.push(newMessage);
      this.message.body = "";
      this.message.createdAt = null;
      this.scrollToBottom();
    },

    scrollToBottom () {
      setTimeout(() => {
        this.$refs.messages.scrollTop = this.$refs.messages.scrollHeight;
      }, 100);
    },

    selectFile () {
      document.getElementById("fileInput").click();
    }
  },

  socket: {
    events: {
      newMessage(message) {
        if (message.tradeCode !== this.tradeCode) return
        this.messages.push(message);
        this.scrollToBottom();
      }
    }
  },
}
</script>

<style lang="scss" scoped>
@import "../../../../scss/common/mixins";

.card {
  height: 80vh !important;
  overflow: hidden;
  @include breakpoint(sm) { height: 100vh !important; }
}

.toolbar {
  height: 50px;
  .toolbar__content {
    height: 100% !important;
  }
}

.chat-messages--container {
  position: relative;
  height: calc(100% - 120px);
  @include breakpoint(sm) {
    height: calc(100% - 65px);
    padding-top: 65px;
  }
  overflow-y: auto;
  padding-top: 15px;
  .progress-linear {
    top: 0;
    position: absolute;
    // @media only screen and (max-width: 1023px) {
    //   top: 64px;
    //   position: fixed;
    // }
  }
  .chat-messages {
    list-style: none;
    padding: 0;
    margin: 0;
    .chat-message {
      width: 100%;
      .sender, .time {
        display: block;
      }
      .body {
        max-width: 80%;
        padding: 15px 30px;
        color: white;
        border-radius: 15px;
        border-top-left-radius: 0;
        float: inherit;
        display: inline-block;
      }
      &.right {
        .sender, .time {
          text-align: right;
        }
        .body {
          border-top-left-radius: 15px;
          border-top-right-radius: 0;
        }
      }
    }
  }
  img { width: 100%; }
}
.message-input {
  height: 70px;
}
</style>
