<template>
  <div class="countdown-timer">
    <p class="display-3">
      {{ hours | twoDigits }}:{{ minutes | twoDigits }}:{{ seconds | twoDigits }}
    </p>
  </div>
</template>

<script>
import Vue from "vue"

Vue.filter("twoDigits", value => {
  if ( value.toString().length <= 1 ) {
    return "0" + value.toString()
  }
  return value.toString()
})

export default {

  props: {
    deadline: {
      required: true
    }
  },

  data() {
    return {
      now: Math.trunc((new Date()).getTime() / 1000),
      date: null
    }
  },

  mounted() {
    this.date = Math.trunc(Date.parse(this.deadline) / 1000)

    this.interval = setInterval(() => {
      this.now = Math.trunc((new Date()).getTime() / 1000)
      if ((this.minutes <= 0) && (this.seconds <= 0)) {
        this.$emit("timeUp")
        return clearInterval(this.interval)
      }
    }, 1000)
  },

  computed: {
    seconds() {
      let seconds = Math.trunc(this.date - this.now) % 60
      return seconds < 0 ? 0: seconds
    },
    minutes() {
      let minutes = Math.trunc((this.date - this.now) / 60) % 60
      return minutes < 0 ? 0: minutes
    },
    hours() {
      return Math.trunc((this.date - this.now) / 60 / 60) % 24
    }
  },

  beforeDestroy() {
    clearInterval(this.interval)
  }
}
</script>

<style scoped lang="scss">
.countdown-timer {
  @media only screen and (max-width: 1023px) {
    .display-3 {
      font-size: 32px !important;
    }
  }
}
</style>
