<template>
  <span>{{ minutes | twoDigits }}:{{ seconds | twoDigits }}&nbsp;</span>
</template>

<script>
import Vue from "vue"

Vue.filter("twoDigits", (value) => {
  if ( value.toString().length <= 1 ) {
    return "0" + value.toString()
  }
  return value.toString()
})

export default {

  props: {
    deadline: {
      required: true
    }
  },

  data() {
    return {
      now: Math.trunc((new Date()).getTime() / 1000),
      date: null
    }
  },

  mounted() {
    this.date = Math.trunc(Date.parse(this.deadline) / 1000)

    this.interval = setInterval(() => {
      this.now = Math.trunc((new Date()).getTime() / 1000)
      if ((this.date - this.now) <= 0) return clearInterval(this.interval)
    }, 1000)
  },

  computed: {
    seconds() {
      return Math.trunc(this.date - this.now) % 60
    },
    minutes() {
      return Math.trunc((this.date - this.now) / 60) % 60
    }
  },

  beforeDestroy() {
    clearInterval(this.interval)
  }
}
</script>
