<template>
  <div class="trade-review">

    <v-card flat class="grey lighten-3 py-5 review mb-2" v-if="fromMe">
      <v-layout>
        <v-flex xs3 class="text-xs-right">
          <span class="display-2" v-html="getSmiley(fromMe.summary)"></span>
        </v-flex>
        <v-flex xs9>
          <v-card-text class="title pb-2">You left a {{ fromMe.summary | lowercase }} review for this trade</v-card-text>
          <v-card-text class="body pt-0 grey--text"><i>"{{ fromMe.comment }}"</i></v-card-text>
        </v-flex>
      </v-layout>
    </v-card>

    <v-card flat class="grey lighten-3 mb-2 py-5" v-else>
      <v-card-title class="title px-5 pb-1">Review this trade</v-card-title>
      <v-card-title class="body-2 px-5 pt-0">How did this trade go?</v-card-title>
      <v-layout row wrap class="pb-3">
        <v-flex xs4 class="text-xs-center">
          <v-btn 
            icon 
            :class="{ 'light-green--text': myReview.summary === 'GOOD' }"
            @click.native="myReview.summary = 'GOOD'"
          >
            <v-icon>sentiment_very_satisfied</v-icon>
          </v-btn>
          <p class="title" :class="{ 'light-green--text': myReview.summary === 'GOOD' }">Good</p>
        </v-flex>
        <v-flex xs4 class="text-xs-center">
          <v-btn 
            icon 
            :class="{ 'grey--text': myReview.summary === 'NEUTRAL' }"
            @click.native="myReview.summary = 'NEUTRAL'"
          >
            <v-icon>sentiment_neutral</v-icon>
          </v-btn>
          <p class="title" :class="{ 'grey--text': myReview.summary === 'NEUTRAL' }">Neutral</p>
        </v-flex>
        <v-flex xs4 class="text-xs-center">
          <v-btn 
            icon 
            :class="{ 'red--text': myReview.summary === 'BAD' }"
            @click.native="myReview.summary = 'BAD'"
          >
            <v-icon>sentiment_very_dissatisfied</v-icon>
          </v-btn>
          <p class="title" :class="{ 'red--text': myReview.summary === 'BAD' }">Bad</p>
        </v-flex>
        <v-flex xs10 offset-xs1 md5 offset-md1 v-if="myReview.summary">
          <v-text-field
            class="mt-5 mb-0"
            label="Write a review..."
            v-model="myReview.comment"
            :error="myReview.error"
          ></v-text-field>
          <v-btn 
            large
            dark
            :loading="sendingReview"
            :disabled="sendingReview"
            @click.native="sendReview"
          >send <v-icon right dark>send</v-icon></v-btn>
        </v-flex>
      </v-layout>
    </v-card>

    <v-card flat class="grey lighten-3 py-5 mb-2 review" v-if="toMe">
      <v-layout>
        <v-flex xs3 class="text-xs-right">
          <span class="display-2" v-html="getSmiley(toMe.summary)"></span>
        </v-flex>
        <v-flex xs9>
          <v-card-text class="title pb-2">{{ toMe.from }} left a {{ toMe.summary | lowercase }} review for this trade</v-card-text>
          <v-card-text class="body pt-0 grey--text"><i>"{{ toMe.comment }}"</i></v-card-text>
        </v-flex>
      </v-layout>
    </v-card>

    <v-card flat class="grey lighten-3 py-5 mb-2 review" v-else>
      <v-layout>
        <v-flex xs3 class="text-xs-right">
          <v-icon class="display-2 grey--text">rate_review</v-icon>
        </v-flex>
        <v-flex xs9>
          <v-card-text class="title grey--text">{{ to }} has not left a review for this trade</v-card-text>
        </v-flex>
      </v-layout>
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { each } from "lodash";
import Service from "../../../core/service";

let service = new Service("reviews");

export default {
  props: {
    reviews: {
      required: true
    },
    to: {
      type: String,
      required: true
    },
    tradeCode: {
      type: String,
      required: true
    }
  },

  computed: {
    ...mapGetters("session", [
      "me"
    ]),
  },

  data () {
    return {
      fromMe: false,
      toMe: false,
      myReview: {
        summary: null,
        comment: null,
        error: false
      },
      sendingReview: false
    }
  },

  created () {
    if (this.reviews.length) {
      each(this.reviews, review => {
        if (review.from === this.me.username) 
          this.fromMe = review
        else this.toMe = review
      })
    }
  },

  methods: {
    getSmiley(summary) {
      let smileyCode;

      switch (summary) {
        case "GOOD":
          smileyCode = "&#128515";
          break;
        case "NEUTRAL":
          smileyCode = "&#128528";
          break;
        case "BAD":
          smileyCode = "&#128542";
      }
      return smileyCode;
    },
    
    sendReview () {
      this.myReview.error = false;
      if (!this.myReview.summary || !this.myReview.comment)
        return this.myReview.error = true;

      this.sendingReview = true;
      service.rest(`create?tradeCode=${this.tradeCode}&from=${this.me.username}&to=${this.to}`, this.myReview)
      .then(data => {
        console.log(data)
        this.sendingReview = false;
        this.fromMe = data
      })
      .catch((err) => {
        console.log("Response err ", err);
      });
    }
  },

  socket: {
    events: {
      newReview(review) {
        this.toMe = review;
      }
    }
  },
}
</script>

<style lang="scss" scoped>
.trade-review {
  .btn--icon {
    height: 120px;
    width: 120px;
    @media only screen and (max-width: 1023px) {
      height: 60px;
      width: 60px;
    }
    .icon {
      font-size: 100px;
      @media only screen and (max-width: 1023px) {
        font-size: 40px;
      }
    }
  }
  @media only screen and (max-width: 1023px) {
    .title {
      font-size: 15px !important;
    }
    .body {
      font-size: 12px !important;
    }
  }
  .review {
    .flex {
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }
  .icon {
    display: block;
  }
}
</style>
