<template>
  <v-system-bar window class="black py-4 hidden-sm-and-down">
    <v-container fluid>
      <v-layout row>
        <template v-if="me">
          <div class="white--text mr-4">
            <v-icon class="white--text">account_balance_wallet</v-icon>
              BALANCE: <span class="ml-1">{{ me.computedBalance | satoshi2btc }} BTC</span>
              <template v-if="me.escrowedBalance != 0">
                <span class="pr-1 ml-1 mr-2 blue lighten-5"></span>
                <span v-badge:lock.icon class="red--after red--text text--accent-2">{{ me.escrowedBalance | satoshi2btc }} BTC</span>
              </template>
          </div>
          <v-menu right>
            <router-link to="" class="nav-link mr-2 ml-1" slot="activator" v-tooltip:bottom="{ html: `You have ${unreadNotifications.length} notifications` }">
              <v-icon
                v-badge="{
                  value: unreadNotifications.length,
                  overlap: true,
                  visible: unreadNotifications.length
                }"
                dark
                class="white--text red--after"
              >notifications</v-icon>
            </router-link>
            <v-list class="pa-0" dense two-line v-if="unreadNotifications.length">
              <template v-for="(item, i) in unreadNotifications">
                <v-list-tile
                  avatar
                  :key="item.tradeCode"
                  :to="`/trade/${item.tradeCode}`"
                >
                  <v-list-tile-avatar>
                    <v-icon v-if="item.type === 'NEW_MESSAGE'" class="light-blue white--text">message</v-icon>
                    <v-icon v-else-if="item.type === 'REVIEW_GOOD'" class="light-green white--text">sentiment_very_satisfied</v-icon>
                    <v-icon v-else-if="item.type === 'REVIEW_BAD'" class="red white--text">sentiment_very_dissatisfied</v-icon>
                    <v-icon v-else-if="item.type === 'REVIEW_NEUTRAL'" class="grey lighten-4 grey--text">sentiment_neutral</v-icon>
                    <v-icon v-else-if="item.type === 'UNDER_DISPUTE'" class="orange white--text">warning</v-icon>
                    <v-icon v-else-if="item.type === 'CANCELLED'" class="red white--text">cancel</v-icon>
                    <v-icon v-else class="light-green white--text">monetization_on</v-icon>
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title class="grey--text text--darken-3">{{ item.title | truncate(35) }}</v-list-tile-title>
                    <v-list-tile-sub-title>{{ item.createdAt | ago }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-divider :inset="i < (unreadNotifications.length - 1)"></v-divider>
              </template>
            </v-list>
            <p v-else class="body text-xs-center grey--text ma-3 px-5">
              <i>You have no unread notifications</i>
            </p>
            <v-layout row>
              <v-flex xs6>
                <v-btn flat small primary to="/notifications">view all</v-btn>
              </v-flex>
              <v-flex xs6>
                <v-btn flat small primary @click.native="setAllNotificationAsRead">mark all as read</v-btn>
              </v-flex>
            </v-layout>
          </v-menu>
          <router-link v-if="openTrades.length > 0" to="/dashboard/open-trades" class="nav-link" v-tooltip:bottom="{ html: `You have ${openTrades.length} open trades` }">
            <v-icon v-badge="{ value: openTrades.length, overlap: true }" dark class="white--text light-blue--after">access_time</v-icon>
          </router-link>
          <v-spacer></v-spacer>
          <router-link :to="`/profile/${me.username}`" class="nav-link mr-3 text--uppercase"><v-icon class="white--text">person</v-icon>{{ me.username }}</router-link>
          <router-link to="/settings" class="nav-link mr-3"><v-icon class="white--text">settings</v-icon>settings</router-link>
          <a style="cursor:pointer" href="/logout" class="nav-link"><v-icon class="white--text">open_in_new</v-icon>log out</a>
        </template>
        <template v-else>
          <v-spacer></v-spacer>
          <a href="/login" class="nav-link"><v-icon class="white--text">input</v-icon>log in</a>
        </template>
      </v-layout>
    </v-container>
  </v-system-bar>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters("session", [
      "me",
      "unreadNotifications"
    ]),
    ...mapGetters("trades", [
      "openTrades"
    ]),
  },

  methods: {
    ...mapActions("session", [
      "setAllNotificationAsRead"
    ])
  }
}
</script>

<style scoped lang="scss">
.system-bar {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
</style>
