extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/vendor.css?v=' + app.version, type="text/css")
	link(rel='stylesheet', href='/app/styles/app.css?v=' + app.version, type="text/css")
	link(href="https://unpkg.com/vuetify@0.15.2/dist/vuetify.min.css", rel="stylesheet", type="text/css")
	style.
		[v-cloak] {
			display: none;
		}

block content
	#app(v-cloak)
		v-app
			main.pa-0
				v-container.indigo.text-xs-center(fluid, style="min-height: 100vh")
					v-layout
						v-flex(xs12, sm6, offset-sm3, md4, offset-md4)
							h1.display-1.mt-4
								a(href="/")
									include ../parts/logo

							v-card.py-5.my-5.elevation-20
								h4.headline.indigo--text.text--darken-4.mb-0 WELCOME BACK
								h5.body-2.grey--text.text--lighten-1 LOG IN TO YOUR ACCOUNT TO CONTINUE
								v-icon.display-4 account_circle
								.px-3
									form(action='/auth/local', method='POST', @submit="loading = true")

										.flash.text-xs-left
											if messages.error
												v-alert(error, value="true")
													for error in messages.error
														div= error.msg
											if messages.info
												v-alert(info, value="true")
													for info in messages.info
														div= info.msg

										input(type="hidden", name="_csrf" value=_csrf)

										v-text-field(
											label="Username or Email address",
											name="username",
											v-model="username",
											autofocus,
											required
										)

										//-if messages.error
										//-	.forgot.my-3
										//-		a(href='/forgot')= t("ForgotYourPassword")

										v-btn.grey.darken-4.white--text(
											large,
											block,
											type="submit",
											:loading="loading",
											:disabled="loading"
										) continue
										v-btn.mt-3.indigo--text.text--darken-2(
											href="signup",
											exact,
											flat,
											block,
											large
										) register

							p.white--text.mb-5.pb-5 &copy; {{ new Date().getFullYear() }} TradeRemit. All rights reserved.

	//- 				if socialAuth
	//- 					.or
	//- 						span= t("or")

	//- 					.socials
	//- 						if socialAuth.facebook
	//- 							a.group.facebook(href="/auth/facebook", title=t("LoginFacebook") )
	//- 								i.fa.fa-facebook
	//- 						if socialAuth.google
	//- 							a.group.google(href="/auth/google", title=t("LoginGoogle"))
	//- 								i.fa.fa-google-plus
	//- 						if socialAuth.twitter
	//- 							a.group.twitter(href="/auth/twitter", title=t("LoginTwitter"))
	//- 								i.fa.fa-twitter
	//- 						if socialAuth.github
	//- 							a.group.github(href="/auth/github", title=t("LoginGithub"))
	//- 								i.fa.fa-github

	//- 				if features.disableSignUp !== true
	//- 					hr
	//- 					.alreadyLink
	//- 						span= t("DontHaveAnAccount")
	//- 						a(href='/signup')= t("SignUp")

block scripts
	script(src="https://unpkg.com/vue/dist/vue.js")
	script(src='/app/frontend.js?v=' + app.version)
	script(src="https://unpkg.com/vuetify@0.15.2/dist/vuetify.js")
	script.
		new Vue({
			el: '#app',
			data: {
				loading: false,
				username: ""
			}
		})