extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/vendor.css?v=' + app.version)
	link(rel='stylesheet', href='/app/styles/app.css?v=' + app.version)
	link(href="https://unpkg.com/vuetify@0.15.2/dist/vuetify.min.css", rel="stylesheet", type="text/css")
	style.
		[v-cloak] {
			display: none;
		}

block content
	v-app#app(v-cloak)
		main.pa-0
			v-container.indigo.text-xs-center(fluid, style="min-height: 100vh")
				v-layout
					v-flex(xs12, sm6, offset-sm3, md4, offset-md4)
						h1.display-1.mt-4
							a(href="/")
								include ../parts/logo

						v-card.py-5.my-5.elevation-20
							h4.headline.indigo--text.text--darken-4.mb-0 SIGN UP
							h5.body-2.grey--text.text--lighten-1 CREATE A TRADEREMIT ACCOUNT
							v-icon.display-4 people
							.px-3
								form(action='/signup', method='POST', @submit="loading = true")

									.flash.text-xs-left
										if messages.error
											v-alert(error, value="true")
												for error in messages.error
													div= error.msg
										if messages.success
											v-alert(info, value="true")
												for info in messages.info
													div= info.msg

									input(type="hidden", name="_csrf" value=_csrf)

									v-text-field(
										label="Email address",
										name="email",
										type="email",
										autofocus,
										required,
										v-model="email"
									)

									v-text-field(
										label="Username",
										name="username",
										type="text",
										required,
										v-model="username"
									)

									v-btn.grey.darken-4.white--text(
										large,
										block,
										type="submit",
										:loading="loading",
										:disabled="loading"
									) create account
									v-btn.mt-3.indigo--text.text--darken-2(
										href="login",
										exact,
										flat,
										block,
										large
									) log in

						p.white--text.mb-5.pb-5 &copy; {{ new Date().getFullYear() }} TradeRemit. All rights reserved.
	
//- block content
//- 	.center-container
//- 		.panel
//- 			.bg
//- 			.bg-overlay
//- 			.content
//- 				form(action='/signup', method='POST')
//- 					input(type="hidden", name="_csrf" value=_csrf)

//- 					header= t("SignUp")
//- 					.form-group
//- 						label(for='name')= t("NameSC")
//- 						input(type='text', name='name', id='name', placeholder=t("YourName"), autofocus=true, required)
//- 					.form-group
//- 						label(for='email')= t("EmailSC")
//- 						input(type='email', name='email', id='email', placeholder=t("YourEmail"), required)
//- 						.hint
//- 					.form-group
//- 						label(for='username')= t("UsernameSC")
//- 						input(type='text', name='username', id='username', placeholder=t("YourUsername"))
//- 						.hint
//- 					.form-group.switch
//- 						div= t("PasswordlessAccount")
//- 						input(type='checkbox', name='passwordless', id='passwordless')
//- 						label(for='passwordless')
//- 						.hint

//- 					.form-group
//- 						label(for='password')= t("PasswordSC")
//- 						input(type='password', name='password', id='password', placeholder=t("Password"))

//- 					.flash
//- 						if messages.error
//- 							.alert.alert-danger
//- 								for error in messages.error
//- 									div= error.msg
//- 						if messages.info
//- 							.alert.alert-success
//- 								for info in messages.info
//- 									div= info.msg

//- 					.form-group
//- 						button.signup(type='submit')= t("SignUp")

//- 					if socialAuth
//- 						.or
//- 							span= t("or")

//- 						.socials
//- 							if socialAuth.facebook
//- 								a.group.facebook(href="/auth/facebook", title=t("SignUpFacebook"))
//- 									i.fa.fa-facebook
//- 							if socialAuth.google
//- 								a.group.google(href="/auth/google", title=t("SignupGoogle"))
//- 									i.fa.fa-google-plus
//- 							if socialAuth.github
//- 								a.group.github(href="/auth/github", title=t("SignupGithub"))
//- 									i.fa.fa-github

//- 					hr
//- 					.alreadyLink
//- 						span= t("AlreadyHaveAnAccount")
//- 						a(href='/login')= t("Login")

block scripts
	script(src="https://unpkg.com/vue/dist/vue.js")
	script(src='/app/frontend.js?v=' + app.version)
	script(src='https://unpkg.com/vuetify@0.15.2/dist/vuetify.min.js')
	script.
		var app = new Vue({
			el: '#app',
			data: {
				loading: false,
				email: "",
				username: ""
			}
		})

	//- script.
	//- 	document.querySelector("#passwordless").addEventListener('change', function() {
	//- 		document.querySelector("#password").disabled = this.checked;
	//- 	});
