<template>
  <section class="sell-btc pb-5">
    <v-container>
      <h3 class="headline my-5"><v-icon class="display-1 mr-2 indigo--text">monetization_on</v-icon>SELL NOW</h3>
      <v-card class="elevation-10 pa-5 indigo white--text">
        <v-layout>
          <v-flex xs12 md5>
            <v-text-field
              label="Amount"
              type="number"
              step="any"
              suffix="BTC"
              class="input-group--focused"
              v-model="amount"
              :hint="hint"
              persistent-hint
              @input="debounceInput"
              dark
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-card>

      <template v-if="dirty">
        <div class="text-xs-center my-5 py-5" v-if="loading">
          <v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
        </div>
        <template v-else>

          <v-alert error :value="ads.length === 0" class="mt-5">
            There are no buyers who want to buy this amount of bitcoin. Try a different amount or post an advertisement. <v-btn small dark outline to="/advertisements/create">Post an advertisement</v-btn>
          </v-alert>

          <template v-if="ads.length > 0">
            <h3 class="title grey--text mt-5">RESULTS</h3>

            <v-list three-line class="elevation-3 mb-5">
              <div v-for="(ad, i) in ads" :key="ad.code" @click="goto(`/advertisements/${ad.slug}`)">
                <v-list-tile ripple>
                  <v-list-tile-content>
                    <price-display-toggle :price="ad.price"></price-display-toggle>
                    <v-list-tile-sub-title><i><small>Trade limits: <strong>{{ ad.minimumAmount | satoshi2btc }} BTC - {{ ad.maximumAmount | satoshi2btc }} BTC</strong></small></i></v-list-tile-sub-title>
                    <v-list-tile-sub-title class="grey--text text--darken-4">
                      Sell to 
                      <span class="fake-link indigo--text" @click.stop="goto(`/profile/${ad.username}`)">{{ ad.username }}</span><online-status :username="ad.username"></online-status>
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                  <div class="hidden-sm-and-down">
                    <v-list-tile-action>
                      <div class="pa-3 body-2 indigo--text text--lighten-2">SELL</div>
                    </v-list-tile-action>
                  </div>
                </v-list-tile>
                <v-divider v-if="i < (ads.length - 1)"></v-divider>
              </div>
            </v-list>
          </template>
        </template>
      </template>
    </v-container>
  </section>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { debounce } from "lodash";
import PriceDisplayToggle from "../../core/components/priceDisplayToggle";
import OnlineStatus from "../../core/components/onlineStatus";

import Service from "../../core/service";

let service = new Service("advertisements");

export default {
  components: {
    PriceDisplayToggle,
    OnlineStatus
  },

  metaInfo: {
    title: 'Sell Bitcoin near you'
  },

  data() {
    return {
      dirty: false,
      loading: false,
      amount: null,
      ads: []
    }
  },

  computed: {
    ...mapGetters("globalState", [
      "usdRate"
    ]),

    hint () {
      if (this.amount > 0) {
        let hint = this.usdRate * parseFloat(this.amount);
        return `≈ ${this.$options.filters.currency(hint, "$", 2)}`
      } else return ""
    }
  },

  methods: {
    debounceInput: debounce(function (value) {
      this.dirty = true;
      this.loading = true;
      if (value > 0) {
        service.rest(`all?type=buy&sort=price&amount=${value}`)
				.then((data) => {
					this.loading = false
					this.ads = data.data
				}).catch((err) => {
					this.loading = false
					console.log("Response err ", err);
				});
      }
    }, 1000),

    goto (url) {
      this.$router.push(url);
    }
  }
}
</script>

<style lang="scss">
.sell-btc {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
  .display-1 {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>
