<template>
    <section class="py-5 dashboard">
      <v-container>
        <h3 class="headline mb-5"><v-icon class="display-1 mr-2 indigo--text">dashboard</v-icon>DASHBOARD</h3>
        <v-card>
          <v-tabs centered fixed icons v-model="active">

            <v-tabs-bar class="white">
              <v-tabs-item
                v-for="tab in tabs"
                :key="tab.title"
                :to="tab.link"
                ripple
              >
                <v-icon>{{ tab.icon }}</v-icon>
                {{ tab.title }}
              </v-tabs-item>
              <v-tabs-slider class="indigo"></v-tabs-slider>
            </v-tabs-bar>

            <v-tabs-items>
              <v-tabs-content
                v-for="tab in tabs"
                :key="tab.title"
                :id="tab.link"
                class="py-5"
              >
                <v-layout row>
                  <v-flex xs12 sm8 offset-sm2>
                    <open-trades v-if="tab.title == 'open trades'"></open-trades>
                    <closed-trades v-if="tab.title == 'closed trades'"></closed-trades>
                    <your-ads v-if="tab.title == 'your ads'"></your-ads>
                  </v-flex>
                </v-layout>
              </v-tabs-content>
            </v-tabs-items>
          </v-tabs>
        </v-card>
        
        <div class="text-xs-center mt-5">
          <v-btn to="/advertisements/create" class="grey darken-4" dark large>post an advertisement</v-btn>
        </div>
      </v-container>
    </section>
</template>

<script>
import OpenTrades from './OpenTrades.vue'
import ClosedTrades from './ClosedTrades.vue'
import YourAds from './YourAds.vue'
import { mapGetters } from "vuex"

export default {
  name: 'dashboard',

  metaInfo: {
    title: 'Dashboard'
  },

  components: {
    OpenTrades,
    ClosedTrades,
    YourAds
  },

  data () {
    return {
      tabs: [
        { icon: 'access_time', title: 'open trades', link: 'open-trades' },
        { icon: 'playlist_add_check', title: 'closed trades', link: 'closed-trades' },
        { icon: 'volume_up', title: 'your ads', link: 'your-advertisements' }
      ],
      active: null
    }
  },

  computed: {
    ...mapGetters("session", [
			"me"
		])
  },

  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.me) vm.$router.push({ path: "/" })
      if (to.path === '/dashboard') {
        vm.$router.push({ path: '/dashboard/open-trades' })
      }
    })
  },

  beforeRouteLeave (to, from, next) {
    if (to.path === '/dashboard') {
      return
    }
    next()
  },

  beforeRouteUpdate (to, from, next) {
    this.active = to.params[0]
    next()
  }
  
}
</script>

<style scoped lang="scss">
.dashboard {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>
