<template>
  <div class="text-xs-center">
    <template v-if="openTrades.length === 0">
      <v-icon class="display-4 grey--text text--lighten-2 mt-3">info_outline</v-icon>
      <p class="body-2 grey--text text--darken-3">YOU HAVE NO OPEN TRADES</p>
    </template>
    <template v-else>
      <h3 class="headline text-xs-center indigo--text mb-5">YOUR OPEN TRADES</h3>

      <v-list dense three-line>
        <div
          v-for="(item, i) in openTrades"
          v-bind:key="item.code"
        >
          <v-list-tile
            :to="`/trade/${item.code}`"
            avatar
            ripple
            :class="{
              'pink lighten-5': item.underDispute === true,
              'grey lighten-4': item.underDispute === false,
            }">
            <v-list-tile-content>
              <v-list-tile-title v-if="item.buyerUsername === me.username">
                <strong><span class="red--text text--darken-3">Buy </span>{{ item.buyerCoinAmount | satoshi2btc }} BTC</strong> from <router-link :to="`/profile/${item.sellerUsername}`">{{ item.sellerUsername }}</router-link>
              </v-list-tile-title>
              <v-list-tile-title v-else>
                <strong><span class="green--text">Sell </span>{{ item.sellerCoinAmount | satoshi2btc }} BTC</strong> to <router-link :to="`/profile/${item.buyerUsername}`">{{ item.buyerUsername }}</router-link>
              </v-list-tile-title>
              <v-list-tile-sub-title class="grey--text text--darken-4">
                Trade value: <strong>{{ item.transferAmount | currency("", 2) }} NGN</strong>
              </v-list-tile-sub-title>
              <v-list-tile-sub-title>
                Trade status: <strong>[{{ item.paymentSent? 'PAID': 'PENDING PAYMENT' }}]&nbsp;<span class="red--text text--darken-3">{{ item.underDispute? '[UNDER DISPUTE]': '' }}</span></strong> &mdash; {{ item.updatedAt | ago }}
              </v-list-tile-sub-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider v-if="i < (openTrades.length - 1)"></v-divider>
        </div>
      </v-list>
    </template>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {

  computed: {
    ...mapGetters("trades", [
      "openTrades"
    ]),

    ...mapGetters("session", [
      "me"
    ])
  }
}
</script>
