<template>
  <div class="view-ad py-5">
    <v-container grid-list-md>
      <v-alert error value="true" v-if="notFound" class="mb-5">
        Not found
      </v-alert>
      <div class="text-xs-center my-5 py-5" v-else-if="loading">
        <v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
      </div>
      <template v-else>
        <h3 class="headline mb-5"><v-icon class="display-1 mr-2 indigo--text">volume_up</v-icon>{{ advertisement.title | uppercase }}</h3>
        <v-alert error :value="!advertisement.visible">
          Deposit Bitcoin into your TradeRemit wallet or adjust your trade limits for this advertisement to be publicly visible. <br>
          <v-btn small dark outline to="/wallet/receive-bitcoin">Deposit now</v-btn>
        </v-alert>
        <div class="mb-3"></div>
        <v-layout row wrap>
          <v-flex xs12 md7>
            <v-card class="mb-2 elevation-10 indigo white--text">
              <v-card-text class="pt-3 pb-0">
                <p class="title ma-0">
                  Advertisement status
                  <v-chip class="white--text" :class="[advertisement.enabled ? 'teal' : 'red accent-2']">
                    <v-avatar>
                      <v-icon>{{ advertisement.enabled ? 'check': 'cancel' }}</v-icon>
                    </v-avatar>
                    {{ advertisement.enabled ? 'Active' : 'Inactive' }}
                  </v-chip>
                </p>
              </v-card-text>
              <v-card-actions class="pt-2">
                <v-btn 
                  v-if="advertisement.enabled" 
                  small 
                  outline  
                  warning 
                  :loading="busy"
                  :disabled="busy"
                  @click.native="disableAd"
                >Disable <v-icon right warning>pause</v-icon></v-btn>

                <v-btn 
                  v-else 
                  small 
                  outline 
                  success
                  :loading="busy"
                  :disabled="busy"
                  @click.native="enableAd"
                >Enable <v-icon right success>play_arrow</v-icon></v-btn>

                <v-btn small outline dark :to="`/advertisements/edit/${advertisement.slug}`">Edit <v-icon right dark>edit</v-icon></v-btn>
                <v-btn @click.native="deleteDialog = true" outline small error dark>
                  <span class="hidden-sm-and-down">delete</span>
                  <v-icon right error>delete</v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
            <v-card class="mb-2 elevation-2">
              <v-card-text>
                <p class="title grey--text ma-0">Advertisement details</p>
              </v-card-text>
              <v-list dense>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ advertisement.adType === "buy"? "Selling to:": "Buying from:" }}
                      <router-link :to="`/profile/${advertisement.username}`"><strong>{{ advertisement.username }}</strong></router-link>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile >
                  <v-list-tile-content>
                    <v-list-tile-title>Price:
                      <strong><price-display-toggle :price="advertisement.price" original-price></price-display-toggle></strong>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>Amount limits:
                      <strong class="green--text">{{ advertisement.minimumAmount | satoshi2btc }} BTC</strong>  &mdash; <strong class="green--text">{{ advertisement.maximumAmount | satoshi2btc }} BTC</strong>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>Payment method:
                      <strong>Bank transfer with <span class="capitalize">{{ advertisement.bankName | snake2Lower }}</span></strong>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <v-list-tile-title>Payment window:
                      <strong>{{ advertisement.paymentWindow }} minutes</strong>
                    </v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card>
          </v-flex>
          <v-flex xs12 md5>
            <v-expansion-panel>
              <v-expansion-panel-content v-for="faq in faqs" :key="faq.title" ripple>
                <div slot="header">{{ faq.title }}</div>
                <v-card>
                  <v-card-text class="py-5 px-3 grey--text">{{ faq.answer }}</v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </template>
    </v-container>

    <v-dialog v-model="deleteDialog" persistent>
      <v-card v-if="dialogBusy" class="text-xs-center pa-5">
        <v-progress-circular indeterminate></v-progress-circular>
        <p class="ma-0 subheading">Deleting this advertisement...</p>
      </v-card>
      <v-card v-else>
        <v-card-title class="headline">Delete advertisement?</v-card-title>
        <v-card-text>Do you want to delete this advertisement? Action cannot be undone!</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="red--text darken-1" flat="flat" @click.native="deleteDialog = false">No</v-btn>
          <v-btn class="indigo--text darken-1" flat="flat" @click.native="deleteAd">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { capitalize } from "lodash";
import PriceDisplayToggle from "../../core/components/priceDisplayToggle";
import Service from "../../core/service";
let service = new Service("advertisements");

export default {
  components: {
    PriceDisplayToggle
  },
  
  metaInfo() {
    let title;
    if (!this.advertisement)
      title = "Advertisement"
    else
      title = capitalize(this.advertisement.title)
    return {
      title: title
    }
  },

  props: ["slug"],

  computed: {
    ...mapGetters("session", [
			"me"
		])
  },

  created() {
    service.rest(`me?slug=${this.slug}`)
    .then(data => {
      this.loading = false
      this.advertisement = data;
    }).catch(err => {
      this.notFound = true;
      console.log("Response err ", err);
    });
  },

  data() {
    return {
      loading: true,
      busy: false,
      advertisement: null,
      notFound: false,
      deleteDialog: false,
      dialogBusy: false,
      faqs: [
        {
          title: 'Is it safe to buy bitcoin?',
          answer: `
            Seller's Bitcoin is hold in an escrow when you open the trade, so you can send payment to seller without worry. If the seller refused to release Bitcoin after you sent the payment, click on the 'Dispute' button and our support team with show up to help.
          `
        },
        {
          title: 'When will I receive Bitcoin?',
          answer: `
            You will receive Bitcoin immediately after seller has confirmed your payment.
          `
        }
      ]
    }
  },

  methods: {
    deleteAd () {
      this.dialogBusy = true;
      service.rest(`remove?code=${this.advertisement.code}`)
        .then(data => {
          this.$router.push("/dashboard/your-advertisements");
        }).catch(err => {
          console.log("Response err ", err);
          this.$router.push("/dashboard/your-advertisements");
        });
    },

    disableAd () {
      this.busy = true;
      service.rest(`disable?code=${this.advertisement.code}`)
        .then(data => {
          this.busy = false;
          this.advertisement.enabled = false;
        }).catch(err => {
          console.log("Response err ", err);
        });
    },

    enableAd () {
      this.busy = true;
      service.rest(`enable?code=${this.advertisement.code}`)
        .then(data => {
          this.busy = false;
          this.advertisement.enabled = true;
        }).catch(err => {
          console.log("Response err ", err);
        });
    }
  }
}
</script>

<style scoped lang="scss">
.view-ad {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>