<template>
  <div class="your-ads">
    <v-layout>
      <v-flex xs10 offset-xs1 md12 offset-md0>
        <h3 class="headline text-xs-center indigo--text">YOUR BITCOIN BUYING ADVERTISEMENTS</h3>
      </v-flex>
    </v-layout>

    <div v-if="all.buy.length === 0" class="text-xs-center mt-3 mb-5">
      <v-icon class="display-3 grey--text text--lighten-2">info_outline</v-icon>
      <p class="body-1 grey--text text--darken-3">NO ADVERTISEMENTS FOUND</p>
    </div>
    <v-list dense v-else three-line>
      <div
        v-for="(ad, i) in all.buy"
        :key="ad.code"
        class="indigo lighten-5"
        @click="goto(`/dashboard/your-advertisements/${ad.slug}`)">
        <v-list-tile ripple>
          <v-list-tile-content>
            <v-list-tile-title>
              <price-display-toggle :price="ad.price" original-price></price-display-toggle>
              via <span class="capitalize">{{ ad.bankName | snake2Lower }}</span>
            </v-list-tile-title>
            <v-list-tile-sub-title><i><small>Trade limits: <strong>{{ ad.minimumAmount | satoshi2btc }} BTC - {{ ad.maximumAmount | satoshi2btc }} BTC</strong></small></i></v-list-tile-sub-title>
            <v-list-tile-sub-title class="grey--text text--darken-4">
              Status
              <v-chip class="ml-2 white--text" :class="[ad.enabled ? 'green lighten-2' : 'red accent-2']">
                <v-avatar>
                  <v-icon>{{ ad.enabled ? 'check': 'cancel' }}</v-icon>
                </v-avatar>
                {{ ad.enabled ? 'Active' : 'Inactive' }}
              </v-chip>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider v-if="i < (all.buy.length - 1)"></v-divider>
      </div>
    </v-list>

    <h3 class="headline mt-5 text-xs-center indigo--text">YOUR BITCOIN SELLING ADVERTISEMENTS</h3>
    <div v-if="all.sell.length === 0" class="text-xs-center mt-3 mb-5">
      <v-icon class="display-3 grey--text text--lighten-2">info_outline</v-icon>
      <p class="body-1 grey--text text--darken-3">NO ADVERTISEMENTS FOUND</p>
    </div>
    <v-list dense v-else three-line>
      <div
        v-for="(ad, i) in all.sell"
        :key="ad.code"
        class="indigo lighten-5"
        @click="goto(`/dashboard/your-advertisements/${ad.slug}`)">
        <v-list-tile ripple>
          <v-list-tile-content>
            <v-list-tile-title>
              <price-display-toggle :price="ad.price" original-price></price-display-toggle>
              via <span class="capitalize">{{ ad.bankName | snake2Lower }}</span>
            </v-list-tile-title>
            <v-list-tile-sub-title><i><small>Trade limits: <strong>{{ ad.minimumAmount | satoshi2btc }} BTC - {{ ad.maximumAmount | satoshi2btc }} BTC</strong></small></i></v-list-tile-sub-title>
            <v-list-tile-sub-title class="grey--text text--darken-4">
              Status
              <v-chip class="ml-2 white--text" :class="[ad.enabled ? 'green lighten-2' : 'red accent-2']">
                <v-avatar>
                  <v-icon>{{ ad.enabled ? 'check': 'cancel' }}</v-icon>
                </v-avatar>
                {{ ad.enabled ? 'Active' : 'Inactive' }}
              </v-chip>
            </v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider v-if="i < (all.sell.length - 1)"></v-divider>
      </div>
    </v-list>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import PriceDisplayToggle from "../../core/components/priceDisplayToggle";

export default {
  components: {
    PriceDisplayToggle
  },

  computed: mapGetters("advertisements", [
    "all"
  ]),

  created() {
    // if ((this.all.buy.length === 0) && (this.all.sell.length === 0))
    this.downloadAll()
  },

  methods: {
    ...mapActions("advertisements", [
      "downloadAll"
    ]),

    goto (url) {
      this.$router.push(url);
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../../scss/common/mixins";

.your-ads {
  @media (min-width: 1025px) {
    .layout .flex.offset-md0 {
      margin-left: 0 !important;
    }
  }
  @include breakpoint (sm) {
    .headline {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }
  a {
    text-decoration: none;
  }
}
</style>
