<template>
  <section class="profile py-5">
    <v-container grid-list-md>
      <h3 class="headline mb-5"><v-icon class="display-1 mr-2 indigo--text">person</v-icon>{{ username | uppercase }}<online-status :username="username"></online-status></h3>
			<v-alert error value="true" v-if="notFound">
	      Not found
	    </v-alert>
			<div class="text-xs-center my-5 py-5" v-else-if="loading">
				<v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
			</div>
			<v-layout row wrap v-else>
				<v-flex xs12 md6>

					<!-- ABOUT -->
					<v-card class="mb-2 elevation-10">
            <v-card-text>
              <p class="title grey--text ma-0">About {{ username }}<v-icon v-if="profile.idVerified" class="cyan--text ml-1">verified_user</v-icon></p>
            </v-card-text>
            <v-list dense>
							<v-list-group>
								<v-list-tile slot="item">
									<v-list-tile-action>
										<v-icon>monetization_on</v-icon>
									</v-list-tile-action>
									<v-list-tile-content>
										<v-list-tile-title class="body-2">Trades</v-list-tile-title>
									</v-list-tile-content>
									<v-list-tile-action>
										<v-icon>keyboard_arrow_down</v-icon>
									</v-list-tile-action>
								</v-list-tile>
									<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>
											Has traded:
											<span class="green--text">{{ profile.totalBtcTraded | satoshi2btc }} BTC</span>
										</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>
											Trade partners: {{ profile.totalDistinctPartners }}
										</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>
											Successful trades: {{ profile.totalSuccessfulTrades }}
										</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>Account created: {{ profile.createdAt | ago }}</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>Last seen: <last-seen-status :profile="profile"></last-seen-status></v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
							</v-list-group>
							<v-list-group>
								<v-list-tile slot="item">
									<v-list-tile-action>
										<v-icon>security</v-icon>
									</v-list-tile-action>
									<v-list-tile-content>
										<v-list-tile-title class="body-2">Verification</v-list-tile-title>
									</v-list-tile-content>
									<v-list-tile-action>
										<v-icon>keyboard_arrow_down</v-icon>
									</v-list-tile-action>
								</v-list-tile>
								<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>Email:
											<span
												:class="{
													'green--text': profile.verified,
													'red--text': !profile.verified
												}"
											>{{ profile.verified ? "Verified": "Unverified" }}</span>
										</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>Phone number:
											<span
												:class="{
													'green--text': profile.phoneVerified,
													'red--text': !profile.phoneVerified
												}"
											>{{ profile.phoneVerified ? "Verified": "Not verified" }}</span>
										</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>Identity verification:
											<span
												:class="{
													'green--text': profile.idVerified,
													'red--text': !profile.idVerified
												}"
											>{{ profile.idVerified ? "Verified": "Not verified" }}</span>
										</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								<!--
								<v-list-tile>
									<v-list-tile-content>
										<v-list-tile-title>Facebook: --</v-list-tile-title>
									</v-list-tile-content>
								</v-list-tile>
								-->
							</v-list-group>
							<v-divider class="mb-2"></v-divider>
              <v-list-tile>
                <v-list-tile-content>
									<v-list-tile-title>
                  	<buyer-reputation :buyer="profile"></buyer-reputation>
										<!--<v-chip class="yellow brown--text ml-1">slow seller</v-chip>-->
									</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>

					<!-- REVIEWS -->
					<v-card class="mb-1">
						<v-card-text>
							<p class="title grey--text ma-0">Reviews ({{ reviews.meta.total }})</p>
						</v-card-text>
						<div class="text-xs-center py-3" v-if="reviews.meta.loading">
							<v-progress-circular indeterminate></v-progress-circular>
						</div>
						<p v-else-if="reviews.data.length === 0" class="text-xs-center grey--text body pa-5 ma-0"><i>No reviews yet</i></p>
						<template v-else>
							<v-list three-line dense :class="{'is-paginating' : reviews.meta.paginating}">
								<template v-for="(review, i) in reviews.data">
									<v-list-tile avatar :key="review.code">
										<v-list-tile-avatar>
											<span class="display-1" v-html="getSmiley(review.summary)"></span>
										</v-list-tile-avatar>
										<v-list-tile-content>
											<v-list-tile-title>{{ review.summary | lowercase }} review from {{ review.from }}</v-list-tile-title>
											<v-list-tile-sub-title><i class="grey--text">"{{ review.comment }}" &mdash; {{ review.createdAt | ago }}</i></v-list-tile-sub-title>
										</v-list-tile-content>
									</v-list-tile>
									<v-divider :inset="i < (reviews.data.length - 1)" :key="review.code"></v-divider>
								</template>
							</v-list>

							<v-flex xs12 class="pb-1">
								<v-btn flat small @click.native="prevReviews" :disabled="reviews.meta.offset === 0">
									<v-icon left>arrow_back</v-icon>
									previous
								</v-btn>
								<v-btn flat small @click.native="nextReviews" :disabled="(reviews.meta.offset + reviews.meta.limit) >= reviews.meta.total">
									next
									<v-icon right>arrow_forward</v-icon>
								</v-btn>
							</v-flex>
						</template>
					</v-card>

				</v-flex>

				<v-flex xs12 md6>

					<!-- BUY ADS -->
					<v-card class="mb-2">
						<v-card-text>
							<p class="title grey--text ma-0">Buy Bitcoin from {{ username }}</p>
						</v-card-text>
						<div class="text-xs-center py-3" v-if="advertisements.loadingBuyAds">
							<v-progress-circular indeterminate></v-progress-circular>
						</div>
						<p class="text-xs-center grey--text body pa-4 ma-0" v-else-if="advertisements.sell.length === 0"><i>No buy ads</i></p>
						<v-list v-else dense two-line>
							<div v-for="(ad, i) in advertisements.sell" :key="ad.code" @click="goto(`/advertisements/${ad.slug}`)">
								<v-list-tile ripple>
									<v-list-tile-content>
										<v-list-tile-title>
											<price-display-toggle :price="ad.price" with-fee></price-display-toggle>
											via <span class="capitalize">{{ ad.bankName | snake2Lower }}</span></v-list-tile-title>
										<v-list-tile-sub-title><i><small>Trade limits: <strong>{{ ad.minimumAmount | satoshi2btc }} BTC - {{ ad.maximumAmount | satoshi2btc }} BTC</strong></small></i></v-list-tile-sub-title>
									</v-list-tile-content>
									<div class="hidden-sm-and-down">
										<v-list-tile-action>
											<div class="pa-3 body-2 indigo--text text--lighten-2">BUY</div>
										</v-list-tile-action>
									</div>
								</v-list-tile>
								<v-divider v-if="i < (advertisements.sell.length - 1)"></v-divider>
							</div>
						</v-list>
					</v-card>

					<!-- SELL ADS -->
					<v-card class="mb-2">
						<v-card-text>
							<p class="title grey--text ma-0">Sell Bitcoin to {{ username }}</p>
						</v-card-text>
						<div class="text-xs-center py-3" v-if="advertisements.loadingSellAds">
							<v-progress-circular indeterminate></v-progress-circular>
						</div>
						<p class="text-xs-center grey--text body pa-4 ma-0" v-else-if="advertisements.buy.length === 0"><i>No sell ads</i></p>
						<v-list v-else dense two-line>
            <div v-for="(ad, i) in advertisements.buy" :key="ad.code" @click="goto(`/advertisements/${ad.slug}`)">
              <v-list-tile ripple>
                <v-list-tile-content>
                  <v-list-tile-title>
                    <price-display-toggle :price="ad.price"></price-display-toggle>
                    via <span class="capitalize">{{ ad.bankName | snake2Lower }}</span>
                  </v-list-tile-title>
                  <v-list-tile-sub-title><i><small>Trade limits: <strong>{{ ad.minimumAmount | satoshi2btc }} BTC - {{ ad.maximumAmount | satoshi2btc }} BTC</strong></small></i></v-list-tile-sub-title>
                </v-list-tile-content>
                <div class="hidden-sm-and-down">
                  <v-list-tile-action>
                    <div class="pa-3 body-2 indigo--text text--lighten-2">SELL</div>
                  </v-list-tile-action>
                </div>
              </v-list-tile>
              <v-divider v-if="i < (advertisements.buy.length - 1)"></v-divider>
            </div>
          </v-list>
					<!--<pre>{{profile}}</pre>-->
					</v-card>
				</v-flex>

			</v-layout>
    </v-container>
  </section>
</template>

<script>
	import Service from "../../core/service";
	import PriceDisplayToggle from "../../core/components/priceDisplayToggle";
	import BuyerReputation from "../../core/components/buyerReputation";
	import OnlineStatus from "../../core/components/onlineStatus";
	import LastSeenStatus from "../../core/components/lastSeenStatus";

	let service = new Service("profile");
	let reviewService = new Service("reviews");
	let adService = new Service("advertisements");

	export default {
		components: {
			PriceDisplayToggle,
			BuyerReputation,
			OnlineStatus,
			LastSeenStatus
		},

		metaInfo () {
			return {
				title: `${this.username}'s profile`
			}
		},

		props: ["username"],

		data() {
			return {
				loading: true,
				notFound: false,
				profile: null,
				reviews: {
					data: [],
					meta: {
						loading: true,
						offset: 0,
						limit: 5,
						total: 0,
						paginating: true
					}
				},
				advertisements: {
					buy: [],
					sell: [],
					loadingBuyAds: true,
					loadingSellAds: true
				}
			}
		},

		methods: {
			getProfile () {
				service.rest(`get?username=${this.username}`)
					.then(data => {
						this.loading = false
						this.profile = data
						this.getTradeReviews()
						this.getAdvertisements()
					}).catch(err => {
						this.loading = false
						this.notFound = true
						console.log("Response err ", err);
					});
			},

			getSmiley(summary) {
				let smileyCode;

				switch (summary) {
					case "GOOD":
						smileyCode = "&#128515";
						break;
					case "NEUTRAL":
						smileyCode = "&#128528";
						break;
					case "BAD":
						smileyCode = "&#128542";
				}
				return smileyCode;
			},

			getTradeReviews () {
				let query = this.reviews.meta;
				reviewService.rest(`all?to=${this.username}&sort=-createdAt&limit=${query.limit}&offset=${query.offset}`)
				.then(data => {
					this.reviews.data = data.data;
					this.reviews.meta.total = data.total;
					this.reviews.meta.loading = false;
					this.reviews.meta.paginating = false;
				});
			},

			prevReviews () {
				this.reviews.meta.paginating = true;
				this.reviews.meta.offset -= this.reviews.meta.limit;
				this.getTradeReviews();
			},

			nextReviews () {
				this.reviews.meta.paginating = true;
				this.reviews.meta.offset += this.reviews.meta.limit;
				this.getTradeReviews();
			},

			getAdvertisements () {
				adService.rest(`all?username=${this.username}&type=buy`)
				.then(data => {
					this.advertisements.buy = data.data;
					this.advertisements.loadingBuyAds = false;
				});
				adService.rest(`all?username=${this.username}&type=sell`)
				.then(data => {
					this.advertisements.sell = data.data
					this.advertisements.loadingSellAds = false;
				});
			},

			goto (url) {
				this.$router.push(url);
			}
		},

		created() {
			this.getProfile();
		}
	};

</script>

<style scoped lang="scss">
.profile {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>
