<template>
  <v-chip 
    :class="{
      'red white--text': this.score < 3,
      'yellow brown--text': (this.score >= 3 && this.score < 10),
      'green white--text': this.score >= 10
    }"
  >
    <template v-if="this.score < 3">new</template>
    <template v-else-if="this.score < 10"><v-icon class="caption mr-2">thumb_up</v-icon>advanced</template>
    <template v-else><v-icon class="caption mr-2">stars</v-icon>professional</template>
    buyer
  </v-chip>
</template>

<script>
export default {
  props: {
    buyer: {
      type: Object,
      required: true
    }
  },

  computed: {
    score () {
      return this.buyer.totalSuccessfulTrades - this.buyer.totalCancelledTrades
    }
  }
}
</script>
