<template>
  <!-- footer -->
  <footer class="black pt-5 pb-4">
    <v-container>
      <v-layout row wrap>
        <v-flex xs12 sm12 md3>
          <span class="brand">
            <logo></logo>
          </span>
          <p class="body-1 grey--text">&copy; 2017, TradeRemit</p>
        </v-flex>  
        <v-flex xs12 sm4 md3>
          <h5 class="title indigo--text text--lighten-3">Company</h5>
          <ul>
            <li><router-link to="/about" class="grey--text">About Us</router-link></li>
            <li><router-link to="/legal-and-policy" class="grey--text">Legal &amp; Policy</router-link></li>
          </ul>
        </v-flex>
        <v-flex xs12 sm4 md3>
          <h5 class="title indigo--text text--lighten-3">Support</h5>
          <ul>
            <li><a href="mailto:support@traderemit.com" class="grey--text">Email</a></li>
            <li><a href="mailto:tdr@traderemit.com" class="grey--text">TDR</a></li>
            <li><a href="//support.traderemit.com" class="grey--text" target="_blank">Help center</a></li>
          </ul>
        </v-flex>
        <v-flex xs12 sm4 md3>
          <h5 class="title indigo--text text--lighten-3">Follow us</h5>
          <ul>
            <li><a href="//facebook.com/TradeRemit-130407714246827" target="_blank" class="grey--text">Facebook</a></li>
            <li><a href="//twitter.com/traderemit" target="_blank" class="grey--text">Twitter</a></li>
            <li><a href="//instagram.com/traderemitng" target="_blank" class="grey--text">Instagram</a></li>
            <li><a href="#" target="_blank" class="grey--text">YouTube</a></li>
            <li><a href="//linkedin.com/company/traderemitng" target="_blank" class="grey--text">LinkedIn</a></li>
          </ul>
        </v-flex>
      </v-layout>
    </v-container>
  </footer>
</template>

<script>
import logo from "./logo";

export default {
  components: {
    logo
  }
}
</script>