<template>
  <span :class="status.class">{{ status.text }}</span>
</template>

<script>
  import { mapGetters } from "vuex";
  import { find } from "lodash";

  export default {
    props: {
      profile: {
        required: true,
        type: Object
      }
    },

    computed: {
      ...mapGetters("session", [
        "onlineUsers",
      ]),

      status () {
        let isFound = find(this.onlineUsers, { 'username': this.profile.username });
        if (isFound)
          return { text: "online", class: {"green--text": true} }
        else {
          let timeAgo = this.$options.filters.ago(this.profile.lastLogin);
          return { text: timeAgo, class: {"grey--text": true} };
        }
      }
    }
  }
</script>