<template lang="pug">
  v-progress-linear(
    :indeterminate="canSuccess",
    :query="true",
    v-model="percent",
    :active="show",
    color-back="indigo darken-2",
    :height="1",
  )
</template>

<script>
import Vue from "vue"

export default {
  data: () => ({
    percent: 0,
    show: false,
    canSuccess: true,
    duration: 3000,
    height: "2px",
    color: "#64ffda",
    failedColor: "red"
  }),

  methods: {
    start () {
      this.show = true
      this.canSuccess = true
      if (this._timer) {
        clearInterval(this._timer)
        this.percent = 0
      }
      this._cut = 10000 / Math.floor(this.duration)
      this._timer = setInterval(() => {
        this.increase(this._cut * Math.random())
        if (this.percent > 95) {
          this.finish()
        }
      }, 100)
      return this
    },
    set (num) {
      this.show = true
      this.canSuccess = true
      this.percent = Math.floor(num)
      return this
    },
    get () {
      return Math.floor(this.percent)
    },
    increase (num) {
      this.percent = this.percent + Math.floor(num)
      return this
    },
    decrease (num) {
      this.percent = this.percent - Math.floor(num)
      return this
    },
    finish () {
      this.percent = 100
      this.hide()
      return this
    },
    pause () {
      clearInterval(this._timer)
      return this
    },
    hide () {
      clearInterval(this._timer)
      this._timer = null
      setTimeout(() => {
        this.show = false
        Vue.nextTick(() => {
          setTimeout(() => {
            this.percent = 0
          }, 200)
        })
      }, 500)
      return this
    },
    fail () {
      this.canSuccess = false
      return this
    }
  }
}
</script>

<style lang="scss">
.progress-linear {
  top: 3.4rem;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0;
  @media only screen and (max-width: 1023px) {
    top: 4.5rem;
  }
}
.progress-linear .progress-linear__bar__determinate, .progress-linear .progress-linear__bar__indeterminate:after, .progress-linear .progress-linear__bar__indeterminate:before {
    background: #64ffda!important;
}
</style>
