<template>
  <i class="caption" :class="status.class">&nbsp;({{ status.text }})</i>
</template>

<script>
  import { mapGetters } from "vuex";
  import { find } from "lodash";

  export default {
    props: {
      username: {
        required: true,
        type: String
      }
    },

    computed: {
      ...mapGetters("session", [
        "onlineUsers",
      ]),

      status () {
        let isFound = find(this.onlineUsers, { 'username': this.username });
        if (isFound)
          return { text: "online", class: {"green--text": true} }
        else return { text: "offline", class: {"grey--text": true} }
      }
    }
  }
</script>