<template>
  <v-dialog v-model="open" width="600" persistent>
    <v-card>
      <v-stepper v-model="step">
        <v-stepper-header>
          <v-stepper-step step="1" :complete="step > 1">Add phone number</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2" :complete="step > 2">Verify phone number</v-stepper-step>
        </v-stepper-header>
        <v-stepper-content step="1">

          <div class="py-3">
            <v-text-field
              label="Phone"
              type="tel"
              class="input-group--focused"
              prefix="+234"
              v-model.number="phoneNumber"
              :rules="[rules.validNumber]"
            ></v-text-field>
          </div>

          <v-btn
            small
            class="indigo white--text"
            @click.native="gotoStep2"
            :disabled="busy"
            :loading="busy"
          >Continue<v-icon right dark>arrow_forward</v-icon></v-btn>
          <v-btn small error class="right mx-0" flat @click.native="close">Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-alert success value="true">
            A confirmation code has been sent to your number. Please enter it below to verify your phone number.
          </v-alert>

          <div class="py-3">
            <v-text-field
              label="Verification code"
              type="number"
              class="mb-0"
              v-model.number="verificationCode"
              :error-messages="errors"
            ></v-text-field>
            <v-btn
              small
              success
              @click.native="verify"
              :disabled="busy"
              :loading="busy"
            >verify</v-btn>
            <v-btn
              small
              class="white--text"
              :class="{
                'grey darken-4': !resending,
                'grey elevation-0 lighten-2': resending
              }"
              @click.native="resend"
            >{{ resending ? resendingText : "resend SMS" }}</v-btn>
          </div>

          <v-btn small flat @click.native="step = 1"><v-icon left>arrow_back</v-icon>Back</v-btn>
          <v-btn small error class="right mx-0" flat @click.native="close">Cancel</v-btn>
        </v-stepper-content>
      </v-stepper>
    </v-card>
  </v-dialog>
</template>

<script>
import Service from "../service";

let service = new Service("persons");
import { mapActions } from "vuex";

export default {
  props: {
    open: {
      type: Boolean,
      required: true
    }
  },

  data () {
    return {
      step: 1,
      phoneNumber: null,
      verificationCode: null,
      busy: false,
      resending: false,
      resendingText: "sms resent",
      errors: [],
      rules: {
        validNumber: (val) => {
          return typeof(val) === "number" ? true: "Please enter a valid phone number";
        }
      }
    }
  },

  methods: {
    ...mapActions("session", [
      "getSessionUser",
    ]),

    close() {
      this.$emit("close");
    },

    gotoStep2 () {
      if (typeof(this.phoneNumber) !== "number") return
      this.busy = true

      service.rest(`verifyPhone?phoneNumber=${this.phoneNumber}`)
      .then((data) => {
        this.busy = false
        this.step++
        this.getSessionUser()
      }).catch((err) => {
        this.busy = false
        console.log("Response err ", err);
      });
    },

    verify () {
      if (!this.verificationCode) return
      this.errors = []
      this.busy = true

      service.rest(`verifyPhone?phoneVerifyCode=${this.verificationCode}`)
      .then((data) => {
        console.log(data)
        this.busy = false
        if (data.status != "200") {
          return this.errors.push("Invalid code!")
        } else {
          this.getSessionUser()
          this.close()
        }
      }).catch((err) => {
        console.log("Response err ", err);
      });
    },

    resend () {
      if (this.resending) return
      this.resending = true

      service.rest(`verifyPhone?phoneNumber=${this.phoneNumber}&resendSms=1`);

      let countdown = 30;
      this.resendingText = `0:${countdown} sms resent`
      this.interval = setInterval(() => {
        countdown--
        if (countdown < 10)
          this.resendingText = `0:0${countdown} sms resent`
        else
          this.resendingText = `0:${countdown} sms resent`
        if (countdown === 0) {
          clearInterval(this.interval)
          this.resending = false
        }
      }, 1000);
    },

    beforeDestroy () {
      if (this.interval) {
        clearInterval(this.interval)
      }
    }
  }
}
</script>
