<template>
  <strong 
    class="green--text" 
    @click.stop="togglePriceDisplayNGNBTC"
  >
    <template v-if="priceDisplayNGNBTC">
      {{ NGNBTC(price) | currency('', 0) }} NGN/<span class="indigo--text text--lighten-2">BTC</span>
    </template>
    <template v-else>
      {{ displayPrice | currency('', 0) }} NGN/<span class="indigo--text text--lighten-2">bitUSD</span>
    </template>
  </strong>
</template>

<script>
  import { mapActions, mapGetters } from "vuex";
  import { TRADEREMITCHARGE } from "../config";

  export default {
    props: {
      price: {
        required: true,
        type: Number
      },
      withFee: {
        type: Boolean,
        default: false
      },
      originalPrice: {
        type: Boolean,
        default: false
      }
    },

    computed: {
      ...mapGetters("globalState", [
        "usdRate",
        "priceDisplayNGNBTC"
      ]),

      displayPrice () {
        if (this.originalPrice) return this.price
        if (this.withFee) return this.price + TRADEREMITCHARGE
        else return this.price - TRADEREMITCHARGE
      }
    },

    methods: {
      ...mapActions("globalState", [
        "togglePriceDisplayNGNBTC"
      ]),

      NGNBTC(value) {
        if (this.originalPrice) return parseInt(value * this.usdRate)
        if (this.withFee) 
          return parseInt((value + TRADEREMITCHARGE) * this.usdRate)
        else return parseInt((value - TRADEREMITCHARGE) * this.usdRate)
      }
    }

  }
</script>