@import "../../node_modules/vuetify/dist/vuetify.min.css";

@import "common/mixins";
@import "common/reset";
@import "common/drawer";
@import "common/brand";
@import "common/footer";

@import "common/tabs";
@import "common/toolbar";
@import "common/chip";

body {
  background-color: black;
}
#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  padding-left: 0 !important;
  @include breakpoint(md) {
    padding-top: 4rem;
  }
}
.container {
  @include breakpoint (lg) {
    max-width: 960px;
  }
}
.nav-link {
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  &:hover, &.btn--active {
    opacity: .7;
  }
  .btn__content:before {
    display: none;
  }
}
.raised-nav-link {
  height: 50% !important;
}
.overlay {
  z-index: 2;
}
.expansion-panel__header {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05rem;
}
blockquote {
  border-left: 4px solid rgba(0, 0, 0, .3);
  padding: 4px 0 4px 24px;
  font-size: 16px;
  font-weight: 400;
}
.text--uppercase {
  text-transform: uppercase;
}
.is-paginating {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: .8;
    z-index: 1;
  }
}
.font-weight-thin {
  font-weight: 200;
}

.capitalize {
  text-transform: capitalize;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap !important;
  overflow-x: hidden;
}

.fake-link:hover {
  text-decoration: underline;
}

.application--light .btn:disabled:not(.btn--icon):not(.btn--flat) {
    background-color: rgba(0,0,0,.5)!important;
    color: black !important;
}

.menu__content {
  background-color: white;
}

.input-group.theme--dark {
  label { color: #fff !important }
  .input-group__details:after {
    background-color: #fff !important
  }
}

.dialog__content { z-index: 9999999999 !important; }

.stepper--vertical .stepper__content {
  @include breakpoint (xs) {
    padding-right: 40px;
  }
}

.dropzone .dz-preview.dz-image-preview { text-align: center; }
.dropzone .dz-preview {
  .dz-image { z-index: 2 !important; }
  .dz-error-mark i.material-icons {
    color: #f44336!important;
  }
  .dz-success-mark i.material-icons {
    color: #4caf50!important;
  }
  .dz-error-message {
    top: 35%!important;
    left: 75%!important;
    &::after {
      border-top: 6px solid transparent!important;
      border-bottom: 6px solid transparent!important;
      border-right: 6px solid #be2626!important;
      left: -11px!important;
      top: 40%!important;
    }
  }  
}

.snack { z-index: 9999999999 !important; }

.viewer-container { z-index: 10000000000 !important }