<template>
  <v-container class="settings py-3">
    <h3 class="headline my-5"><v-icon class="display-1 mr-2 indigo--text">settings</v-icon>SETTINGS</h3>
    <v-expansion-panel v-if="me">
      <v-expansion-panel-content ripple>
        <div slot="header">Profile</div>
        <v-card class="py-5">
          <v-layout column>
            <v-flex xs10 offset-xs1 md5 offset-md1>
              <v-text-field
                label="Email"
                :value="me.email"
                disabled
              ></v-text-field>
              <v-text-field
                label="Username"
                :value="me.username"
                disabled
              ></v-text-field>
            </v-flex>
            <v-flex xs10 offset-xs1 md5 offset-md1 class="mb-3">
              Phone number:
              <span
                :class="{
                  'red--text': !me.phoneVerified,
                  'green--text': me.phoneVerified
                }"
              >{{ me.phoneVerified ? "Verified": "Not submitted" }}</span>
              <template v-if="me.phoneVerified && me.phone">
                <v-btn small block outline class="indigo indigo--text">Change phone number</v-btn>
              </template>
              <template v-if="!me.phoneVerified">
                <v-btn small block dark class="indigo" @click.native="phoneVerifyModal = true">Add phone number</v-btn>
                <phone-verify-modal
                  :open="phoneVerifyModal"
                  @close="phoneVerifyModal = false"
                ></phone-verify-modal>
              </template>
            </v-flex>
            <v-flex xs10 offset-xs1 md5 offset-md1 class="mb-3">
              Identity proof:
              <span
                :class="{
                  'red--text': !me.idVerified,
                  'green--text': me.idVerified
                }"
              >{{ me.idVerified ? "Verified": "Not submitted" }}</span>
              <br>
              <v-btn to="/identity-verification" v-if="!me.idVerified" small block dark class="indigo">Upload ID proof</v-btn>
            </v-flex>
            <v-flex xs10 offset-xs1 md5 offset-md1 class="mb-3">
              Facebook: <span class="red--text">Not submitted</span><br>
              <v-btn small block dark class="light-blue darken-4">Connect with your Facebook</v-btn>
            </v-flex>
            <v-flex xs10 offset-xs1 md5 offset-md1>
              Twitter: <span class="red--text">Not submitted</span><br>
              <v-btn small block dark class="light-blue">Connect with your Twitter</v-btn>
            </v-flex>
            <v-flex xs10 offset-xs1 md5 offset-md1 class="mt-5">
              <v-btn :to="`/profile/${me.username}`" block secondary dark><v-icon left>person</v-icon>show my public profile</v-btn>
            </v-flex>
          </v-layout>
        </v-card>
      </v-expansion-panel-content>
      <v-expansion-panel-content ripple>
        <div slot="header">Notifications</div>
        <v-card class="py-5">
          <v-layout>
            <v-flex xs10 offset-xs1 md11 offset-md1>
              <p class="subheading">Email notifications</p>
              <v-checkbox
                label="Daily newsletter"
                v-model="notification.newsletter"
                color="indigo"
                hide-details
              ></v-checkbox>
              <v-checkbox
                label="New trade opened"
                v-model="notification.newTrade"
                color="indigo"
                hide-details
              ></v-checkbox>
              <v-checkbox
                label="Trade status changed"
                v-model="notification.tradeStatusChanged"
                color="indigo"
                hide-details
              ></v-checkbox>
              <v-checkbox
                label="Messages from trade"
                v-model="notification.newMessage"
                color="indigo"
                hide-details
              ></v-checkbox>
              <!--
              <p class="subheading mt-5">SMS notifications</p>
              <v-switch
                label="New trade opened"
                v-model="ex"
                color="indigo"
                hide-details
              ></v-switch>
              <v-switch
                label="Trade payment made"
                v-model="ex"
                color="indigo"
                hide-details
              ></v-switch>
              -->
            </v-flex>
          </v-layout>
        </v-card>
      </v-expansion-panel-content>
      <!--v-expansion-panel-content>
        <div slot="header">Blacklist</div>
        <v-card>
          <v-card-text class="grey lighten-3 grey--text pa-5 text-xs-center">
            <i>You have no blocked accounts.</i>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
      <v-expansion-panel-content ripple>
        <div slot="header">Account activities</div>
        <v-card>
          <v-card-text class="grey lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
        </v-card>
      </v-expansion-panel-content-->
    </v-expansion-panel>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import PhoneVerifyModal from "../../core/components/phoneVerifyModal";

export default {
  components: {
    PhoneVerifyModal
  },

  metaInfo: {
    title: 'Settings'
  },

  data () {
    return {
      phoneVerifyModal: false,
      notification: {
        newsletter: true,
        newTrade: true,
        tradeStatusChanged: true,
        newMessage: true
      }
    }
  },

  created () {
    this.notification.newsletter = this.me.dailyPrice;
    this.notification.newTrade = this.me.newTradeNotif;
    this.notification.tradeStatusChanged = this.me.tradeStatusChangedNotif;
    this.notification.newMessage = this.me.newMessageNotif;
  },

  methods: {
    ...mapActions("session", [
      "toggleNewsletter",
      "toggleNewTradeNotif",
      "toggleNewMessageNotif",
      "toggleTradeStatusChangedNotif",
    ])
  },

  watch: {
    "notification.newsletter": function () {
      this.toggleNewsletter();
    },
    "notification.newTrade": function () {
      this.toggleNewTradeNotif();
    },
    "notification.tradeStatusChanged": function () {
      this.toggleTradeStatusChangedNotif();
    },
    "notification.newMessage": function () {
      this.toggleNewMessageNotif();
    },
  },

	computed: {
    ...mapGetters("session", [
      "me",
    ])
  },

  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.me) vm.$router.push({ path: "/" })
    })
  },
}
</script>

<style scoped lang="scss">
.settings {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>
