<template>
	<div>
    <loading ref="loading"></loading>
    <v-app>

      <side-menu :open="drawer" @stateChanged="drawerChanged"></side-menu>

      <!-- app systembar -->
      <system-bar></system-bar>
      <!-- ./app systembar -->

      <!-- app toolbar -->
      <v-toolbar flat prominent class="indigo darken-2">
        <!-- menu trigger btn -->
        <v-toolbar-side-icon class="hidden-md-and-up" dark @click.native.stop="drawer = !drawer"></v-toolbar-side-icon>
        <!-- brand -->
        <v-toolbar-title class="white--text mr-3">
          <router-link to="/" class="brand"><logo></logo></router-link>
        </v-toolbar-title>
        <!-- nav menu items -->
        <v-toolbar-items class="hidden-sm-and-down" v-if="me && me.roles.includes('admin')">
          <v-btn to="/wallet" flat :ripple="false" class="nav-link">bitcoin wallet</v-btn>
          <v-btn to="/identity-verification" flat :ripple="false" class="nav-link">identity verification</v-btn>
        </v-toolbar-items>
        <v-toolbar-items class="hidden-sm-and-down" v-else>
          <v-btn to="/trade/buy-bitcoin" flat :ripple="false" class="nav-link">buy bitcoin</v-btn>
          <v-btn to="/trade/sell-bitcoin" flat :ripple="false" class="nav-link">sell bitcoin</v-btn>
          <v-btn to="/wallet" flat :ripple="false" class="nav-link">bitcoin wallet</v-btn>
          <v-btn to="/advertisements/create" flat :ripple="false" class="nav-link">post an advertisement</v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <!-- mobile dropdown menu items -->
        <v-menu bottom left class="hidden-md-and-up">
          <v-btn icon dark slot="activator">
            <!--
            should be toggled when notifications are available
            has precendence over open trades
            -->
            <v-icon
							v-badge="{
								value: unreadNotifications.length,
								overlap: true,
								visible: unreadNotifications.length,
							}"
							class="red--after"
						>keyboard_arrow_down</v-icon>
          </v-btn>
          <!-- if logged in -->
          <v-list dense v-if="me" class="indigo lighten-5">
            <v-list-tile class="pr-5 mr-3">
              <v-list-tile-title style="overflow:visible">
                <v-icon class="mr-2">account_balance_wallet</v-icon>
                <strong>
                  YOUR BALANCE
                </strong>
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile class="indigo--text">
              <v-list-tile-title style="overflow:visible">
                <strong>
                  <span class="ml-2 blue--text text--darken-4">{{ me.computedBalance | satoshi2btc }} BTC</span>
                  <template v-if="me.escrowedBalance != 0">
                    <span class="pl-1 grey lighten-2 mx-2"></span>
                    <span v-badge:lock.icon class="red--after red--text text--darken-3">{{ me.escrowedBalance | satoshi2btc }} BTC</span>
                  </template>
                </strong>
              </v-list-tile-title>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile to="/notifications">
              <v-list-tile-title style="overflow:visible">
                <v-icon class="mr-2">notifications</v-icon>
                <span
									v-badge="{
										value: unreadNotifications.length,
										visible: unreadNotifications.length,
									}"
									class="red--after"
								>NOTIFICATIONS</span>
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile v-if="openTrades.length > 0" to="/dashboard/open-transactions">
              <v-list-tile-title style="overflow:visible">
                <v-icon class="mr-2">access_time</v-icon>
                <span
									v-badge="{
										value: openTrades.length
								 	}"
									class="light-blue--after"
								>OPEN TRADES</span>
              </v-list-tile-title>
            </v-list-tile>
            <v-divider></v-divider>
            <v-list-tile :to="`/profile/${me.username}`">
              <v-list-tile-title class="text--uppercase"><v-icon class="mr-2">person</v-icon>{{ me.username }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile to="/settings">
              <v-list-tile-title><v-icon class="mr-2">settings</v-icon>SETTINGS</v-list-tile-title>
            </v-list-tile>
            <v-list-tile href="logout" exact>
              <v-list-tile-title><v-icon class="mr-2">open_in_new</v-icon>LOG OUT</v-list-tile-title>
            </v-list-tile>
          </v-list>
          <!-- if not logged in -->
          <v-list dense v-else>
            <v-list-tile href="/login" exact>
              <v-list-tile-title><v-icon class="mr-2">input</v-icon>Log In</v-list-tile-title>
            </v-list-tile>
            <v-list-tile href="/signup" exact>
              <v-list-tile-title><v-icon class="mr-2">people</v-icon>Sign Up</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <v-toolbar-items class="hidden-sm-and-down">
          <template v-if="me">
            <v-btn v-if="!me.roles.includes('admin')" flat :ripple="false" class="nav-link" to="/dashboard">Dashboard</v-btn>
          </template>
          <template v-else>
            <a href="/login" class="nav-link btn btn--flat"><div class="btn__content">Log in</div></a>
            <a href="/signup" class="raised-nav-link grey darken-4 white--text mt-3 btn btn--raised"><div class="btn__content">sign up</div></a>
          </template>
        </v-toolbar-items>
      </v-toolbar>

      <main>
				<template v-if="me && !me.phoneVerified && !me.roles.includes('admin')">
					<v-alert warning value="true" class="brown--text text--darken-4 ma-0">
						Your phone number is not verified. You will not receive mobile notifications!
						<v-btn outline small @click.native="phoneVerifyModal = true">add phone number</v-btn>
			    </v-alert>
					<phone-verify-modal
						:open="phoneVerifyModal"
						@close="phoneVerifyModal = false"
					></phone-verify-modal>
				</template>
        <router-view keep-alive></router-view>
      </main>

			<app-footer></app-footer>
    </v-app>
  </div>
</template>

<script>
	import Vue from "vue";

	import Loading from "./components/loading";
	import SystemBar from "./components/system_bar/index";
	import SideMenu from "./components/side_menu/index";
	import AppFooter from "./components/footer"
	import PhoneVerifyModal from "./components/phoneVerifyModal";
	import logo from "./components/logo";

	import Service from "./service";

	import { mapActions, mapGetters } from "vuex";

	export default {

		/**
		 * Create websocket connection to the root namespace
		 */
		//mixins: [ MixinsIO() ],

		/**
		 * Load sub-components
		 */
		components: {
			Loading,
			SystemBar,
			SideMenu,
			AppFooter,
			PhoneVerifyModal,
      logo
		},

    metaInfo: {
      title: 'Buy and sell Bitcoin near you',
      titleTemplate: '%s | TradeRemit',
      noscript: [
        { innerHTML: 'This website requires JavaScript.' }
      ]
    },

		/**
		 * Create app data object
		 *
		 * TODO: move to vuex state
		 */
		data() {
			return {
				wsReconnecting: false,
				drawer: false,
				phoneVerifyModal: false
			};
		},

		computed: {
      ...mapGetters("session", [
        "me",
        "onlineUsers",
        "unreadNotifications",
        "transactions",
      ]),

      ...mapGetters("trades", [
        "openTrades"
      ])
    },

		watch: {
			$lng() {
				console.log("Language updated");
				this.update(this);
			}
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		socket: {

			events: {
				/**
				 * Send welcome message after connect
				 */
				connect() {
					console.log("Websocket connected to " + this.$socket.nsp);

					if (this.wsReconnecting)
						// Reload browser if connection established after disconnect
						window.location.reload(true);
					else
						this.$socket.emit("welcome", "Hello! " + navigator.userAgent);
				},

				disconnect() {
					console.log("Websocket disconnected from " + this.$socket.nsp);
					this.wsReconnecting = true;
				},

        refreshOnlineUsers (onlineUsers) {
          this.setOnlineUsers(onlineUsers);
        },

				error(err) {
					console.error("Websocket error!", err);
				},

        walletBalanceUpdated(data) {
          this.updateWalletBalance(data);
          // update user transactions if it is not empty
          if (this.transactions.data.length) {
            this.getTransactions();
          }
        },

        newOpenTrade (data) {
          this.downloadTrades();
        },

        tradeUpdated () {
          this.downloadTrades();
        },

        newNotification(notification) {
          this.addNotification(notification);
          this.notif.play();
        }
			}
		},

		methods: {
			...mapActions("session", [
				"getSessionUser",
        "getOnlineUsers",
        "setOnlineUsers",
        "updateWalletBalance",
        "getTransactions",
        "getNotifications",
        "addNotification"
			]),

			...mapActions("globalState", [
				"getUsdRate"
			]),

      ...mapActions("trades", [
        "downloadTrades"
      ]),

			update(vm) {
				if (vm == null)
					return;

				let i = vm._watchers.length;
				while (i--)
					vm._watchers[i].update(true);

				let children = vm.$children;
				i = children.length;
				while (i--)
					this.update(children[i]);
			},

      drawerChanged (newValue) {
        this.drawer = newValue
      }
		},

		/**
		 * Application created
		 */
		created() {
			console.log("App started!");
			this.$root.$loading = this
			window.app = this;

			this.getSessionUser();
      this.getUsdRate();
      this.getOnlineUsers();
      this.getNotifications();
      this.downloadTrades();

      this.usdRateInterval = setInterval(this.getUsdRate, 300000); // every 5 minutes

      // load notification sound
      this.notif = new Audio("/app/sounds/glassy-soft-knock.mp3");
		},

		mounted () {
			this.$loading = this.$refs.loading;
      this.$router.beforeEach((to, from, next) => {
        this.$loading.start();
        next();
      })
      this.$router.afterEach((to, from) => {
        this.$loading.finish();
      })
		},

    beforeDestroy () {
      clearInterval(this.usdRateInterval);
    }
	};
</script>
