<template>
  <v-navigation-drawer
    persistent
    clipped
    enable-resize-watcher
    v-model="drawer"
    class="indigo lighten-5 hidden-md-and-up"
  >
    <v-list dense class="indigo lighten-5">
      <v-subheader class="mt-3 indigo--text text--darken-1 indigo lighten-5">BUY/SELL BITCOIN</v-subheader>
      <v-list class="indigo lighten-5">
        <v-list-tile class="indigo lighten-5" :to="item.link" v-for="item in buySellBitcoinSublinks" :key="item.text">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-title v-text="item.text"></v-list-tile-title>
        </v-list-tile>
      </v-list>
      <v-subheader class="mt-3 indigo--text text--darken-1 indigo lighten-5">BITCOIN WALLET</v-subheader>
      <v-list class="indigo lighten-5">
        <template v-if="me">
          <v-list-tile class="indigo lighten-5" v-for="item in bitcoinWalletSublinks" :key="item.text" :to="item.link">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-title v-text="item.text"></v-list-tile-title>
          </v-list-tile>
        </template>
        <template v-else>
          <v-list-tile to="/wallet">
            <v-list-tile-action>
              <v-icon>account_balance_wallet</v-icon>
            </v-list-tile-action>
            <v-list-tile-title v-text="'Find Out More'"></v-list-tile-title>
          </v-list-tile>
        </template>
      </v-list>

      <v-divider></v-divider>

      <template v-if="me">
        <v-list-tile to="/dashboard" class="indigo lighten-5">
          <v-list-tile-action>
            <v-icon>dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="indigo--text text--darken-1">Dashboard</v-list-tile-title>
        </v-list-tile>
        <v-list-tile to="/advertisements/create">
          <v-list-tile-action>
            <v-icon>add_circle_outline</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="indigo--text text--darken-1">Post an advertisement</v-list-tile-title>
        </v-list-tile>
      </template>
      <template v-else>
        <v-list-tile class="indigo lighten-5" to="/advertisements/create">
          <v-list-tile-action>
            <v-icon>add_circle_outline</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="indigo--text text--darken-1">Post an Advertisement</v-list-tile-title>
        </v-list-tile>
        <v-list-tile href="/login" exact class="indigo lighten-5">
          <v-list-tile-action>
            <v-icon>input</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="indigo--text text--darken-1">Log In</v-list-tile-title>
        </v-list-tile>
        <v-list-tile href="/signup" exact class="indigo lighten-5">
          <v-list-tile-action>
            <v-icon>people</v-icon>
          </v-list-tile-action>
          <v-list-tile-title class="indigo--text text--darken-1">Sign Up</v-list-tile-title>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: 'sideMenu',

  props: {
    open: {
      type: Boolean,
      required: true
    },
  },

  data: () => ({
    buySellBitcoinSublinks: [
      { icon: 'monetization_on', text: 'Buy Now', link: '/trade/buy-bitcoin' },
      { icon: 'monetization_on', text: 'Sell Now', link: '/trade/sell-bitcoin' }
    ],
    bitcoinWalletSublinks: [
      { link: '/wallet/send-bitcoin', icon: 'send', text: 'Send Bitcoins' },
      { link: '/wallet/receive-bitcoin', icon: 'call_received', text: 'Receive Bitcoins' },
      { link: '/wallet/transactions', icon: 'history', text: 'Transactions' }
    ]
  }),

  computed: {
    ...mapGetters("session", [
      "me"
    ]),

    drawer: {
      get () {
        return this.open
      },
      set (newValue) {
        this.$emit("stateChanged", newValue)
      }
    }
  }
}
</script>
