<template>
  <section class="notifications py-5">
    <v-container>
      <h3 class="headline mb-5 grey--text text--darken-2"><v-icon class="display-1 mr-2 indigo--text">notifications</v-icon>NOTIFICATIONS</h3>
      <div class="text-xs-center my-5 py-5" v-if="notifications.meta.loading">
        <v-progress-circular indeterminate v-bind:size="50"></v-progress-circular>
      </div>
      <div class="text-xs-center my-5 py-5 " v-else-if="notifications.data.length === 0">
        <v-icon class="display-4 grey--text text--lighten-2 mt-3">info_outline</v-icon>
        <p class="body-2 grey--text text--darken-3">YOU HAVE NO NOTIFICATIONS</p>
      </div>
      <v-card v-else>
        <v-list three-line dense :class="{'is-paginating' : notifications.meta.paginating}">
          <template v-for="(item, i) in notifications.data">
            <v-list-tile avatar :key="item.code" :to="`/trade/${item.tradeCode}`">
              <v-list-tile-avatar>
                <v-icon v-if="item.type === 'NEW_MESSAGE'" class="light-blue white--text">message</v-icon>
                <v-icon v-else-if="item.type === 'REVIEW_GOOD'" class="light-green white--text">sentiment_very_satisfied</v-icon>
                <v-icon v-else-if="item.type === 'REVIEW_BAD'" class="red white--text">sentiment_very_dissatisfied</v-icon>
                <v-icon v-else-if="item.type === 'REVIEW_NEUTRAL'" class="grey lighten-4 grey--text">sentiment_neutral</v-icon>
                <v-icon v-else-if="item.type === 'UNDER_DISPUTE'" class="orange white--text">warning</v-icon>
                <v-icon v-else-if="item.type === 'CANCELLED'" class="red white--text">cancel</v-icon>
                <v-icon v-else class="light-green white--text">monetization_on</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-sub-title class="grey--text text--darken-4">{{ item.title }}</v-list-tile-sub-title>
                <v-list-tile-sub-title>{{ item.createdAt | ago }}</v-list-tile-sub-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider :key="item.code" :inset="i < (notifications.data.length - 1)"></v-divider>
          </template>
        </v-list>
        <v-card-actions class="pb-3">
          <v-btn flat small @click.native="prevNotifications" :disabled="notifications.meta.offset === 0">
            <v-icon left>arrow_back</v-icon>
            previous
          </v-btn>
          <v-btn flat small @click.native="nextNotifications" :disabled="(notifications.meta.offset + notifications.meta.limit) >= notifications.meta.total">
            next
            <v-icon right>arrow_forward</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-container>
  </section>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import Service from "../../core/service";
import PriceDisplayToggle from "../../core/components/priceDisplayToggle";
import BuyerReputation from "../../core/components/buyerReputation";

let service = new Service("notifications");

export default {
  metaInfo: {
    title: 'Notifications'
  },

  data () {
    return {
      notifications: {
        data: [],
        meta: {
          loading: true,
          offset: 0,
          limit: 10,
          total: 0,
          paginating: true
        }
      }
    }
  },

  created() {
    this.setAllNotificationAsRead();
    this.getNotifications();
  },

  computed: {
    ...mapGetters("session", [
      "me",
    ])
  },

  methods: {
    ...mapActions("session", [
      "setAllNotificationAsRead"
    ]),

    getNotifications () {
      let query = this.notifications.meta;
      service.rest(`me?sort=-createdAt&limit=${query.limit}&offset=${query.offset}`)
      .then(data => {
        this.notifications.data = data.data;
        this.notifications.meta.total = data.total;
        this.notifications.meta.loading = false;
        this.notifications.meta.paginating = false;
      });
    },

    prevNotifications () {
      this.notifications.meta.paginating = true;
      this.notifications.meta.offset -= this.notifications.meta.limit;
      this.getNotifications();
    },

    nextNotifications () {
      this.notifications.meta.paginating = true;
      this.notifications.meta.offset += this.notifications.meta.limit;
      this.getNotifications();
    },
  },

  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (!vm.me) vm.$router.push({ path: "/" })
    })
  },
}
</script>

<style scoped lang="scss">
.notifications {
  .headline {
    font-weight: 500 !important;
    letter-spacing: .1rem !important;
  }
}
</style>

