<template>
  <v-card>
    <v-tabs dark>
      <v-tabs-bar class="white">
        <v-tabs-item href="#pending" ripple>pending</v-tabs-item>
        <v-tabs-item href="#declined" ripple>declined</v-tabs-item>
        <v-tabs-slider class="indigo"></v-tabs-slider>
      </v-tabs-bar>
      <v-tabs-items>
        <v-tabs-content id="pending">
          <pending></pending>
        </v-tabs-content>
        <v-tabs-content id="declined">

        </v-tabs-content>
      </v-tabs-items>
    </v-tabs>
  </v-card>
</template>

<script>
import Pending from './pending';

export default {
  components: {
    Pending
  }
}
</script>

<style>

</style>
