<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :search="search"
    :pagination.sync="pagination"
    :total-items="totalItems"
    :loading="loading"
  >
    <template slot="headerCell" scope="props">
      <span v-tooltip:bottom="{ 'html': props.header.text }">
        {{ props.header.text }}
      </span>
    </template>
    <template slot="items" scope="props">
      <td>
        <span 
          @click="show(props.item.user.code)" 
          v-badge="{ value: props.item.verificationUploads.length }" 
          class="blue--text"
          style="cursor: pointer;"  
        >
          {{ props.item.user.username }}
        </span>
        <div :class="`${props.item.user.code}--images`" style="display: none;" v-viewer="{movable: false}">
          <img v-for="upload in props.item.verificationUploads" :src="upload.imageUrl" :key="upload.code">
        </div>
      </td>
      <td  class="text-xs-center">
        <v-btn @click="verify(props.item.user.code)" icon flat success><v-icon>thumb_up</v-icon></v-btn>
      </td>
      <td  class="text-xs-center">
        <v-btn @click="decline(props.item.user.code)" icon flat error><v-icon>thumb_down</v-icon></v-btn>
      </td>
    </template>
  </v-data-table>
</template>

<script>
import Service from "../../../core/service";

let service = new Service("verifications");

export default {
  data () {
    return {
      search: '',
      totalItems: 0,
      items: [],
      loading: true,
      pagination: {},
      headers: [
        { text: 'Username', align: 'left', sortable: false },
        { text: 'Verify', align: 'center', sortable: false },
        { text: 'Decline', align: 'center', sortable: false },
      ],
    }
  },

  watch: {
    pagination: {
      handler () {
        this.loading = true;
        this.getPendingVerifications();
      },
      deep: true
    }
  },

  methods: {
    getPendingVerifications () {
      let offset = this.pagination.rowsPerPage * (this.pagination.page - 1);
      service.rest(`pending?sort=-updatedAt&limit=${ this.pagination.rowsPerPage }&offset=${ offset }`)
        .then(data => {
          this.loading = false;
          this.items = data.data;
          this.totalItems = data.total;
        });
    },

    show (__class) {
      const viewer = this.$el.querySelector(`.${__class}--images`).$viewer;
      viewer.show();
    },

    decline (code) {
      service.rest(`decline?code=${ code }`)
        .then(data => {
          this.getPendingVerifications()
        });
    },

    verify (code) {
      service.rest(`verify?code=${ code }`)
        .then(data => {
          this.getPendingVerifications()
        });
    }
  }
}
</script>

<style>

</style>
